<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <meta name="description" content="The Film Futures Market for Pirates" />
    <meta name="keywords" content="max keiser, pirate film, market" />

    <title><%= @title || "Pirate My Film" %></title>

    <%= render :partial => 'shared/head_load' %>

    <%= yield :head %>

  </head>

  <body id="widget" onload="doInit();">

    <div class="project_listings_widget">

      <div class="project_widget_header">
        <%= link_to image_tag("widgets/projects_widget/widget-header.png"),
          {:controller => "home"}, :only_path => false, :target => "_blank" %>
      </div>

      <% for project in @projects do %>
          <div class="<%= cycle("view-lite-row-widget", "view-lite-row-alt-widget") %>">

            <div class="view-lite-row-project-name-widget">
              <%= link_to project.symbol, project_path(project), :target => "_blank" %>
            </div>

            <div class="pmf_clear">&nbsp;</div>

            <div class="view-lite-row-icon-widget">
              <a href="<%= url_for project_path(project) %>" target="_blank">
                <%= project_icon project, :big %>
              </a>
            </div>

            <div class="view-lite-row-numbers-widget">
              <ul>
                <li class="label">Owner:</li>
                <li class="stat">
                  <%= link_to h(project.owner.profile.user.login),
                    profile_path(project.owner.profile), :target => "_blank" %>
                </li>
                <li class="pmf_clear"></li>
                <li class="label">Funds Needed:</li><li class="stat">$<%= print_money project.capital_required %></li>
                <li class="pmf_clear"></li>
                <li class="label">% Funded:</li><li class="stat"><%= project.percent_funded %>&#37</li>
                <li class="pmf_clear"></li>
                <li class="label">PMF Fund Rating:</li><li class="stat"><%= project.admin_rating %></li>
                <li class="pmf_clear"></li>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="pmf_clear">&nbsp;</div>

        <div class="project_widget_footer">
          <%= link_to image_tag("widgets/projects_widget/widget-footer.png"),
            {:controller => "home"}, :only_path => false, :target => "_blank" %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="project_widget_footer">
          <%= link_to image_tag("widgets/projects_widget/widget-footer-invite.png"),
            {:controller => "project_widgets"}, :only_path => false, :target => "_blank" %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

      </div>

    </body>

  </html>