<%
profile ||= @profile
%>
<div class="activity_box learn">
  <div class="left avatar"><%= icon profile, :big %></div>
  <div class="right bio_stuff">
    <div class="pageTitle"><%= h profile.f %></div>
    <% unless profile.last_activity_at.blank? %><small>Last active: <%= time_ago_in_words profile.last_activity_at %> ago</small><% end %>
    <% unless profile.about_me.blank? %><div><strong>About:</strong> <%= sanitize(textilize(profile.about_me)) %></div><% end %>
    <% unless profile.website.blank? %><div><strong>Website:</strong> <%= link_to h(profile.website), h(profile.website) %></div><% end %>		
  </div>
  <div style="clear: both"></div>
</div>