<div class="pageTitle">My Profile</div>
<hr>

<div class="half left">
  
  <%= render :partial => 'profiles/bio' %>
            
</div>

<div class="half right">
  
  <%= render :partial => 'friends/list', :locals => {:type => 'friends'} %>
  <%= render :partial => 'friends/list', :locals => {:type => 'followers'} %>
  <%= render :partial => 'friends/list', :locals => {:type => 'followings'} %>        
    
</div>

<div style="clear: both;"></div>

<% if !@user_projects.nil? and !@user_projects.empty? %>

  <div class="pageTitle">My Projects</div>
  <hr>

  <%= render :partial => "projects/listings", :object => @user_projects %>

  <%= pagination_controls_for @user_projects if @user_projects.respond_to? :total_pages %>

<% end %>

<% if !@user_subscriptions.nil? and !@user_subscriptions.empty? %>

  <div class="pageTitle">My Friends Projects</div>
  <hr>

  <%= render :partial => "projects/listings", :object => @user_subscriptions %>

  <%= pagination_controls_for @user_subscriptions if @user_subscriptions.respond_to? :total_pages %>

<% end %>

<div style="float: right;">
  <%= link_to "List a Project", new_project_path %>|
  <%= link_to "All Projects", projects_path %>
</div>