<h1>Your Profile</h1>
<div id="sub_nav">  
  <%= link_to 'Account Settings', edit_profile_path(@p) %>
</div>

<%= render :partial => 'friends/list', :locals => {:type => 'friends'} %>
<%= render :partial => 'friends/list', :locals => {:type => 'followers'} %>
<%= render :partial => 'friends/list', :locals => {:type => 'followings'} %>

<div style="clear: both;"></div>

<h2>Your Projects</h2>
<hr>

<table class="listing">
  
  <tr>
    <th>Project Title</th>
    <th class="icon">User/Studio</th>
    <th>Stats</th>
    <th>Description</th>
  </tr>
  
  <%= render :partial => "projects/project_tr", :collection => @user_projects %>
      
</table>  

<%= pagination_controls_for @user_projects if @user_projects.respond_to? :total_pages %>

<h2>Your Subscriptions</h2>
<hr>

<table class="listing">
  
  <tr>
    <th>Project Title</th>
    <th class="icon">User/Studio</th>
    <th>Stats</th>
    <th>Description</th>
  </tr>
  
  <%= render :partial => "projects/project_tr", :collection => @user_subscriptions %>
        
</table>

<%= pagination_controls_for @user_subscriptions if @user_subscriptions.respond_to? :total_pages %>

<div style="float: right;">
  <%= link_to "List a Project", new_project_path %>|
  <%= link_to "All Projects", projects_path %>
</div>