<div class="pageTitle">My Profile</div>
<hr>

<div class="half left">

  <%= render :partial => 'profiles/bio' %>

</div>

<div class="half right">

  <%= render :partial => 'friends/list', :locals => {:type => 'friends'} %>
  <%= render :partial => 'friends/list', :locals => {:type => 'followers'} %>
  <%= render :partial => 'friends/list', :locals => {:type => 'followings'} %>

  <div class="membership_type">
    You are currently on <b><%= @u.membership_type.name %></b> Membership
    <br/><br/>
    You can list <b><%= @u.membership_type.max_projects_listed %></b> of your own projects,
    <br/>each with a budget of up to <b>$<%= @u.membership_type.funding_limit_per_project %></b>
    <br/><br/>
    You can subscribe for <b><%= @u.membership_type.pc_limit_per_project %></b> PC's of any one project
    <br/><br/>
    You can subscribe for <b><%= @u.membership_type.pc_project_limit %></b> PC's overall

    <br/><br/>
    <b>You will soon be able to upgrade this membership!</b>
  </div>

</div>

<div class="pmf_clear">&nbsp;</div>

<% if !@user_projects.nil? and !@user_projects.empty? %>

  <div class="pageTitle">My Projects</div>
  <hr>

  <%= render :partial => "projects/listings", :object => @user_projects %>

  <%= pagination_controls_for @user_projects if @user_projects.respond_to? :total_pages %>

<% end %>

<div class="pmf_clear">&nbsp;</div>

<% if !@user_subscriptions.nil? and !@user_subscriptions.empty? %>

  <div class="pageTitle">My Friends Projects</div>
  <hr>

  <%= render :partial => "projects/listings", :object => @user_subscriptions %>

  <%= pagination_controls_for @user_subscriptions if @user_subscriptions.respond_to? :total_pages %>

<% end %>

<div style="float: right;">
  <%= link_to "List a Project", new_project_path %>|
  <%= link_to "All Projects", projects_path %>
</div>