<div id="profile_section">

  <div class="half left">
    <div class="pageTitle">My Profile</div>
    <%= render :partial => 'profiles/bio' %>
  </div>

  <div class="half right">
    <div class="membership_type">
      <div class="title">Your Membership</div>
      <ul>
        <li>You are currently on <b><%= @u.membership_type.name %></b> Membership</li>

        <li><% unless @u.membership_type.max_projects_listed == -1 %>
            You can list <b><%= @u.membership_type.max_projects_listed %></b> of your own projects
          <% else %>
            You can list an <b>unlimited</b> number of your own projects,
          <% end %>
        </li>

        <li>
          <% unless @u.membership_type.funding_limit_per_project == -1 %>
            each with a budget of up to <b>$<%= @u.membership_type.funding_limit_per_project %></b>
          <% else %>
            each with an <b>unlimited</b> budget
          <% end %>
        </li>

        <li>
          <% unless @u.membership_type.pc_limit == -1 %>
            You can reserve up to <b><%= @u.membership_type.pc_limit %></b> Premium Copies of any one project
          <% else %>
            You can reserve <b>unlimited</b> Premium Copies of any one project
          <% end %>
        </li>

        <li>
          <% unless @u.membership_type.pc_project_limit == -1 %>
            You can reserve Premium Copies in up to <b><%= @u.membership_type.pc_project_limit %></b> projects
          <% else %>
            You can reserve Premium Copies in an <b>unlimited</b> amount of projects
          <% end %>
        </li>

        <li>
          <% unless  @u.membership_type.name == 'Black Pearl' %>
            <b>You will soon be able to upgrade this membership!</b>
          <% end %>
        </li>
      </ul>

    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="profile_links">
    <div class="button">
      <%= link_to "Edit Profile", edit_profile_path %>
    </div>

    <div class="button">
      <%= link_to "List a Project", new_project_path %>
    </div>

    <div class="button">
      <%= link_to "All Projects", projects_path %>
    </div>

  </div>
</div>

<div class="dashed_light_border">&nbsp;</div>

<div class="project_listing_box">
  <div class="pageTitle">Premium copies <%=@profile.user.login%> is <i>selling</i> in his/her own projects</div>
  <div class="pageTitleSmaller">No debits occur until 100% of available premium copies have been reserved</div>
  
  <div class="dashed_light_border">&nbsp;</div>

  <% if !@user_projects or @user_projects.empty? %>
    No Projects Found!
  <% end %>

  <%= render :partial => "projects/listings", :object => @user_projects %>

  <%= pagination_controls_for @user_projects if @user_projects.respond_to? :total_pages %>

  <div class="pmf_clear">&nbsp;</div>

</div>

<div class="pmf_clear">&nbsp;</div>

<div class="project_listing_box">

  <div class="pageTitle">Premium copies <%=@profile.user.login%> is <i>buying</i> in friends projects</div>
  <div class="pageTitleSmaller">No debits occur until 100% of available premium copies have been reserved</div>

  <div class="dashed_light_border">&nbsp;</div>

  <% if !@user_subscriptions or @user_subscriptions.empty? %>
    No Projects Found!
  <% end %>

  <%= render :partial => "projects/listings", :object => @user_subscriptions %>

  <%= pagination_controls_for @user_subscriptions if @user_subscriptions.respond_to? :total_pages %>

</div>