<div class="pageTitle"><%=@profile.user.login%>'s Profile</div>

<div id="profile_section">
  <div class="half left">
    <%= render :partial => 'profiles/bio' %>
  </div>

  <div class="half right"></div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="profile_links">
    <div class="button">
      <%= link_to "List a Project", new_project_path %>
    </div>

    <div class="button">
      <%= link_to "All Projects", projects_path %>
    </div>
  </div>
</div>

<div class="dashed_light_border">&nbsp;</div>

<div class="project_listing_box">

  <div class="pageTitle">Premium copies <%=@profile.user.login%> is <i>selling</i> in his/her own projects</div>
  <div class="pageTitleSmaller">No debits occur until 100% of available premium copies have been reserved</div>

  <div class="dashed_light_border">&nbsp;</div>

  <% if !@user_projects or @user_projects.empty? %>
    No Projects Found!
  <% end %>

  <%= render :partial => "projects/listings", :object => @user_projects %>

  <%= pagination_controls_for @user_projects if @user_projects.respond_to? :total_pages %>

</div>

<div class="pmf_clear">&nbsp;</div>

<div class="project_listing_box">

  <div class="pageTitle">Premium copies <%=@profile.user.login%> is <i>buying</i> in friends projects</div>
  <div class="pageTitleSmaller">No debits occur until 100% of available premium copies have been reserved</div>

  <div class="dashed_light_border">&nbsp;</div>

  <% if !@user_subscriptions or @user_subscriptions.empty? %>
    No Projects Found!
  <% end %>

  <%= render :partial => "projects/listings", :object => @user_subscriptions %>

  <%= pagination_controls_for @user_subscriptions if @user_subscriptions.respond_to? :total_pages %>

</div>