<div class="pageTitle">PMF Members</div>

<div class="pmf_clear">&nbsp;</div>

<div id="users">

  <% form_tag url_for(:action => "index"), :method => :get do -%>
    <div id="user_search">
      <%= text_field_tag 'search[uq]', (params[:search] && params[:search][:uq] ? params[:search][:uq] : 'Search Members'), :id => 'search[uq]', :size => 16, :onfocus => "this.select();" %>
      <input type="submit" value="Search"/>
    </div>
  <%- end -%>

  <div id="filter_param_box">
    <% form_tag url_for(:controller => "/profiles"), :method => :get do %>
      <%= select_tag :profile_filter_param, options_for_select(@profile_filter_params, [params['profile_filter_param']]), :onchange => "this.form.submit();" %>
      <div class="label">Order by:</div>
      <%= select_tag :profile_membership_filter_param, options_for_select(@profile_membership_filter_params, [params['profile_membership_filter_param']]), :onchange => "this.form.submit();" %>
      <div class="label">Filter by Membership:</div>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <% if @search_query %>
    <div id="search_text">Search Results For: <b><%= h @search_query %></b></div>
    <div class="pmf_clear">&nbsp;</div>
  <% end %>
  
  <% @profiles.each do |p| %>
    <%= render :partial => "/profiles/small", :locals => { :profile => p } %>
  <% end %>

  <div class="pmf_clear">&nbsp;</div>

  <%= pagination_controls_for @profiles if @profiles.respond_to? :total_pages %>

  <div class="pmf_clear">&nbsp;</div>

</div>