<div id="profile">
  <div id="profile_section">

    <div class="half left">
      <div class="pageTitle">
        <% if @p == @profile %>
          My
        <% else %>
          <%=@profile.user.login%>'s
        <% end %>
        Portfolio
      </div>
      
      <div class="activity_box learn">
        <div class="left avatar"><%= icon @profile, :medium %></div>
        <div class="right bio_stuff">
          <div class="user_name"><%= h @profile.f %></div>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="profile_links">
      <div class="button">
        <%= link_to "View Profile", profile_path(@p) %>
      </div>
    </div>
  </div>

  <div class="dashed_light_border">&nbsp;</div>

  <div class="project_listing_box">
    <div class="pageTitleSmaller">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      <i>offering</i> shares in these projects
    </div>

    <div class="dashed_light_border">&nbsp;</div>

    <% if !@user_projects or @user_projects.empty? %>
      No Projects Found!
    <% else %>
      <%= render :partial => "projects/listings", :object => @user_projects %>
      <%= pagination_controls_for @user_projects if @user_projects.respond_to? :total_pages %>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">

    <div class="pageTitleSmaller">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      <i>reserving</i> shares in these projects
    </div>

    <div class="dashed_light_border">&nbsp;</div>

    <% if !@user_subscriptions or @user_subscriptions.empty? %>
      No Projects Found!
    <% else %>
      <%= render :partial => "projects/listings", :object => @user_subscriptions %>
      <%= pagination_controls_for @user_subscriptions if @user_subscriptions.respond_to? :total_pages %>
    <% end %>
  </div>
</div>