<div id="profile">
  <div id="profile_section">

    <div class="half left">
      <div class="pageTitle">
        <%= me_or_login %> Portfolio
      </div>

      <div class="activity_box learn">
        <div class="left avatar"><%= icon @profile, :medium %></div>
        <div class="right bio_stuff">
          <div class="user_name"><%= h @profile.f %></div>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>
    </div>

    <div class="half right">
      <div class="portfolio_info">
        <div class="title">Portfolio Info</div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Projects Listed:</div>
        <div class="stat"><%= @user_projects.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Projects Reserving Shares In:</div>
        <div class="stat"><%= @user_subscriptions.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Shares Reserved:</div>
        <div class="stat"><%= @total_shares_reserved %></div>
        <div class="stat_label">$ Amount of Shares Reserved:</div>
        <div class="stat">$<%= @total_shares_reserved_amount %></div>
        <div class="pmf_clear">&nbsp;</div>
      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="half right">
      <div class="portfolio_info">
        <div class="title"><%= me_or_login %> Top 5 Projects (24 Hour Change)</div>

        <div class="stat_label_header">Project Symbol</div>
        <div class="stat_header">Todays Change</div>
        <div class="pmf_clear">&nbsp;</div>

        <% @top_projects.each do |tp| %>
          <div class="pmf_clear">&nbsp;</div>
          <div class="stat_label"><%= link_to tp.project.symbol, project_path(tp.project) %></div>
          <div class="arrow">
            <%= up_down_arrow tp.share_change %>
          </div>
          <div class="stat">
            <%= tp.share_change %> Shares
          </div>
          <div class="pmf_clear">&nbsp;</div>
        <% end %>

      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="profile_links">
      <div class="button">
        <%= link_to "View Profile", profile_path(@p) %>
      </div>
    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <% if @p == @profile && @items.size > 0 %>

    <div class="dashed_light_border">&nbsp;</div>

    <div class="pmf_clear_20">&nbsp;</div>

    <div class="pageTitle">Followed Projects Feed</div>

    <div class="pmf_clear">&nbsp;</div>

    <% @items.each do |item| %>
      <% if item.kind_of? Blog %>
        <%= render :partial => "/blogs/templates/#{blog_template_name(item)}",
          :locals => {:blog => item, :truncate_blog => true,
          :link_blog_header => true } %>
      <% elsif item.kind_of? ProjectComment %>
        <%= render :partial => '/project_comments/comment_info', :locals => {:project_comment => item} %>
      <% elsif item.kind_of? AdminProjectRating %>
        <%= render :partial => '/shared/partials/admin_project_rating', :locals => {:admin_project_rating => item} %>
      <% elsif item.kind_of? PmfFundSubscriptionHistory %>
        <%= render :partial => '/shared/partials/pmf_subscription_change',
          :locals => { :pmf_subscription => item } %>
      <% end %>
    <% end %>

    <%= pagination_controls_for @items if @items.respond_to? :total_pages %>

  <% end %>

  <div class="dashed_light_border">&nbsp;</div>

  <div class="project_listing_box">
    <div class="pageTitleSmaller">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      <i>offering</i> shares in these projects
    </div>

    <div class="dashed_light_border">&nbsp;</div>

    <% if !@user_projects or @user_projects.empty? %>
      No Projects Found!
    <% else %>
      <%= render :partial => "projects/listings", :object => @user_projects %>
      <%= pagination_controls_for @user_projects if @user_projects.respond_to? :total_pages %>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">

    <div class="pageTitleSmaller">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      <i>reserving</i> shares in these projects
    </div>

    <div class="dashed_light_border">&nbsp;</div>

    <% if !@user_subscriptions or @user_subscriptions.empty? %>
      No Projects Found!
    <% else %>
      <%= render :partial => "projects/listings", :object => @user_subscriptions %>
      <%= pagination_controls_for @user_subscriptions if @user_subscriptions.respond_to? :total_pages %>
    <% end %>
  </div>
</div>