<div id="profile">
  <div id="profile_section">

    <div class="half left">
      <div class="pageTitle">
        <% if @p == @profile %>
          My
        <% else %>
          <%=@profile.user.login%>'s
        <% end %>
        Portfolio
      </div>

      <div class="activity_box learn">
        <div class="left avatar"><%= icon @profile, :medium %></div>
        <div class="left bio_stuff">
          <div class="user_name"><%= h @profile.f %></div>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>
    </div>

    <div class="half right">
      <div class="portfolio_info">
        <div class="title">Portfolio Info</div>
        <div class="pmf_clear">&nbsp;</div>

        <% if @projects_awaiting_payment_count > 0 %>
          <div class="stat_label">Projects Awaiting Payment:</div>
          <div class="stat">
            <a href="<%= url_for(:controller => "profiles", :action => "portfolio_awaiting_payment") %>">
              <b><%= @projects_awaiting_payment_count %></b>
            </a>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        <% end %>

        <div class="stat_label">Walked the plank:</div>
        <div class="stat">
          <%= pluralize(@user.warn_points, "time") %>
          (<a class="tooltip_arrow" title="When a user defaults on paying for shares, he will walk the plank!">?</a>)
        </div>
        <div class="stat_label">No. Projects Offering Shares:</div>
        <div class="stat"><%= @user_projects.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Projects Funded:</div>
        <div class="stat"><%= @user_funded_projects.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Funded Projects Reserving Shares In:</div>
        <div class="stat"><%= @user_funded_subscriptions.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Non Funded Projects Reserving Shares In:</div>
        <div class="stat"><%= @user_non_funded_subscriptions.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Shares Reserved Total:</div>
        <div class="stat"><%= @total_shares_reserved %></div>
        <div class="stat_label">$ Amount of Shares Reserved Total:</div>
        <div class="stat">$<%= @total_shares_reserved_amount %></div>
        <div class="pmf_clear">&nbsp;</div>
      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="half right">
      <div class="portfolio_info">
        <% if !@top_projects.empty? %>
          <div class="title"><%= me_or_login %> Top 5 Projects (24 Hour Change)</div>

          <div class="stat_label_header">Symbol</div>
          <div class="stat_header">Todays Change</div>
          <div class="pmf_clear">&nbsp;</div>

          <% @top_projects.each do |tp| %>
            <div class="pmf_clear">&nbsp;</div>
            <div class="stat_label"><%= link_to tp.project.symbol, project_path(tp.project) %></div>
            <div class="arrow">
              <%= up_down_arrow tp.share_change %>
            </div>
            <div class="stat">
              <%= tp.share_change.abs %> Shares
            </div>
            <div class="pmf_clear">&nbsp;</div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="profile_links">
      <div class="button">
        <%= link_to "View Profile", profile_path(@p) %>
      </div>
    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <% if @p == @profile && @items.size > 0 %>

    <div class="dashed_light_border">&nbsp;</div>

    <div class="pmf_clear_20">&nbsp;</div>

    <div class="pageTitle">Followed Projects Feed</div>

    <div class="pmf_clear">&nbsp;</div>

    <% @items.each do |item| %>
      <% if item.kind_of? Blog %>
        <%= render :partial => "/blogs/templates/#{blog_template_name(item)}",
          :locals => {:blog => item, :truncate_blog => true,
          :link_blog_header => true } %>
      <% elsif item.kind_of? ProjectComment %>
        <%= render :partial => '/project_comments/comment_info', :locals => {:project_comment => item} %>
      <% elsif item.kind_of? AdminProjectRating %>
        <%= render :partial => '/project_rating/admin_project_rating', :locals => {:admin_project_rating => item} %>
      <% elsif item.kind_of? PmfFundSubscriptionHistory %>
        <%= render :partial => '/project_subscriptions/pmf_subscription_change',
          :locals => { :pmf_subscription => item } %>
      <% end %>
    <% end %>

    <%= pagination_controls_for @items if @items.respond_to? :total_pages %>

  <% end %>

  <div class="project_listing_box">
    <div class="pageTitle">
      <% if @p == @profile %>
        You have
      <% else %>
        <%=@profile.user.login%> has
      <% end %>
      <i>funded</i> these projects
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <%= render :partial => "projects/listings", :object => @user_funded_projects %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">
    <div class="pageTitle">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      <i>offering</i> shares in these projects
    </div>

    <%= render :partial => "projects/listings", :object => @user_projects %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">

    <div class="pageTitle">
      <% if @p == @profile %>
        You have
      <% else %>
        <%=@profile.user.login%> has
      <% end %>
      <i>reserved</i> shares in these funded projects
    </div>

    <%= render :partial => "projects/listings", :object => @user_funded_subscriptions %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">

    <div class="pageTitle">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      <i>reserving</i> shares in these projects that are not yet funded
    </div>

    <%= render :partial => "projects/listings", :object => @user_non_funded_subscriptions %>
  </div>
</div>