<% if @p != @profile %>
  <div class="pageTitle">
    <%=@profile.user.login%>'s
    Profile
  </div>
<% end %>

<div id="profile">

  <div class="profile_links">
    <% if @p == @profile %>
      <div class="link">
        <%= link_to "Edit Profile", edit_profile_path %>
      </div>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>
  
  <div id="profile_section">

    <div class="half left">

      <% if @p != @profile %>
        <div class="sublinks">
          <div class="profile_sublink"><%= link_to "View Portfolio", portfolio_profile_path(@profile) %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>
      <% end %>

      <div class="activity_box learn">
        <div class="left avatar">
          <%= icon @profile, :medium %>
          <div class="follow_button">
            <%= follow_member_button @profile %>
          </div>
        </div>
        <div class="left bio_stuff">
          <div class="user_name"><%= h @profile.f %></div>

          <div id="user_info">
            <% unless @profile.last_activity_at.blank? %>
              <div class="label">Last Active:</div>
              <div class="value"><%= time_ago_in_words @profile.last_activity_at %> ago</div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>

            <% if @profile.home_country %>
              <div class="label">Home Country:</div>
              <div class="value"><%= @profile.home_country.name %></div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>

            <div class="label">Avg. Member Rating:</div>
            <div class="value"><%= @profile.user.member_rating %></div>

            <div class="pmf_clear">&nbsp;</div>

            <div class="label">Member Since:</div>
            <div class="value"><%= @profile.created_at.strftime '%d %b %Y' %></div>

          </div>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <% if @p != @profile %>
        <div id="producer_rating_area" class="pmf_top_margin_10">
          <div class="pageTitle pmf_top_margin_10">Rate This Member</div>
          <div class="pmf_clear pmf_top_margin_10">&nbsp;</div>

          <% if logged_in %>
            <% if @profile.user.id != @u.id %>
              <% form_tag :controller => "member_rating", :action => "rate", :member_id => @profile.user.id do %>
                <% if @my_member_rating %>
                  <div class="label">Your Current Rating:</div>
                  <div class="value"><%= @my_member_rating.rating %></div>
                <% end %>
                <% if @allowed_to_rate %>
                  <div class="pmf_clear">&nbsp;</div>
                  <div class="label">New Rating:</div>
                  <div class="value">
                    <%= select_tag "rating", options_for_select(@rating_select_opts, @selected_my_member_rating) %>
                  </div>
                  <input id="rating_submit" type="submit" name="submit" value="Submit"/>
                  <div class="pmf_clear">&nbsp;</div>
                <% end %>
                <div class="pmf_clear pmf_top_margin_10">&nbsp;</div>
                <b>Note:</b> You can only change your rating once per day
              <% end %>
            <% end %>
          <% else %>
            <label>You must <%= link_to "Log In", login_path %> to rate this member!</label>
          <% end %>
        </div>

        <div class="pmf_clear">&nbsp;</div>
      <% end %>

      <%= render :partial => "talents" %>
    </div>

    <div class="half right">

      <div id="friend_info">
        <div class="title">
          <% if @p == @profile %>
            My
          <% else %>
            <%=@profile.user.login%>'s
          <% end %>
          Friends
        </div>

        <div class="label">Followed By:</div>
        <div class="value">
          <%= link_to pluralize(@profile.followers.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FOLLOWERS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="label">Following:</div>
        <div class="value">
          <%= link_to pluralize(@profile.followings.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FOLLOWINGS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="label">Friends With:</div>
        <div class="value">
          <%= link_to pluralize(@profile.friends.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FRIENDS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div id="friend_link_container">
          <%= get_friend_link @p, @profile %>
        </div>

        <div class="pmf_clear">&nbsp;</div>
      </div>

      <%= render :partial => "membership_info" %>

      <div class="pmf_clear">&nbsp;</div>

      <div id="notification_info">
        <% if @p == @profile %>
          <div class="membership_type">
            <div class="title">Your Email Notifications</div>
            <p>
              You are currently set to receive email notifications for the
              following events (note you can change these settings by clicking
              the edit profile button at the bottom of the page):
            </p>

            <ul>
              <% @u.notifications.each do |notification| %>
                <li><%= notification.description %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="pmf_clear">&nbsp;</div>

    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="dashed_light_border">&nbsp;</div>

  <h2>
    <% if @p == @profile %>
      My
    <% else %>
      <%=@profile.user.login%>'s
    <% end %>
    Updates
  </h2>

  <div class="dashed_light_border">&nbsp;</div>

  <% if @blogs.empty? %>
    <div class="pageTitleSmaller">
      No Updates Found!
    </div>
    <div class="pmf_clear">&nbsp;</div>
  <% end %>

  <% @blogs.each do |blog| %>
    <%= render :partial => "/blogs/templates/member_blog",
      :locals => {:blog => blog, :truncate_blog => true,
      :link_blog_header => true } %>
  <% end %>

</div>