<div id="profile">
  <div id="profile_section">

    <div class="half left">
      <div class="pageTitle">
        <% if @p == @profile %>
          My
        <% else %>
          <%=@profile.user.login%>'s
        <% end %>
        Profile
      </div>

      <div class="activity_box learn">
        <div class="left avatar"><%= icon @profile, :medium %></div>
        <div class="left bio_stuff">
          <div class="user_name"><%= h @profile.f %></div>

          <div id="user_info">
            <% unless @profile.last_activity_at.blank? %>
              <div class="label">Last Active:</div>
              <div class="value"><%= time_ago_in_words @profile.last_activity_at %> ago</div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>

            <% if @profile.home_country %>
              <div class="label">Home Country:</div>
              <div class="value"><%= @profile.home_country.name %></div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>

            <div class="label">Avg. Member Rating:</div>
            <div class="value"><%= @profile.user.member_rating %></div>

          </div>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <% if @p != @profile %>
        <div id="producer_rating_area" class="pmf_top_margin_10">
          <div class="pageTitle pmf_top_margin_10">Rate This Member</div>
          <div class="pmf_clear pmf_top_margin_10">&nbsp;</div>

          <% if logged_in %>
            <% if @profile.user.id != @u.id %>
              <% form_tag :controller => "member_rating", :action => "rate", :member_id => @profile.user.id do %>
                <% if @my_member_rating %>
                  <div class="label">Your Current Rating:</div>
                  <div class="value"><%= @my_member_rating.rating %></div>
                <% end %>
                <% if @allowed_to_rate %>
                  <div class="pmf_clear">&nbsp;</div>
                  <div class="label">New Rating:</div>
                  <div class="value">
                    <%= select_tag "rating", options_for_select(@rating_select_opts, @selected_my_member_rating) %>
                  </div>
                  <input id="rating_submit" type="submit" name="submit" value="Submit"/>
                  <div class="pmf_clear">&nbsp;</div>
                <% end %>
                <div class="pmf_clear pmf_top_margin_10">&nbsp;</div>
                <b>Note:</b> You can only change your rating once per day
              <% end %>
            <% end %>
          <% else %>
            <label>You must <%= link_to "Log In", login_path %> to rate this member!</label>
          <% end %>
        </div>

        <div class="pmf_clear">&nbsp;</div>
      <% end %>
      
      <%= render :partial => "talents" %>
    </div>

    <div class="half right">

      <div id="friend_info">
        <div class="title">
          <% if @p == @profile %>
            My
          <% else %>
            <%=@profile.user.login%>'s
          <% end %>
          Friends
        </div>

        <div class="label">Followed By:</div>
        <div class="value">
          <%= link_to pluralize(@profile.followers.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FOLLOWERS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="label">Following:</div>
        <div class="value">
          <%= link_to pluralize(@profile.followings.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FOLLOWINGS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="label">Friends With:</div>
        <div class="value">
          <%= link_to pluralize(@profile.friends.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FRIENDS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div id="friend_link_container">
          <%= get_friend_link @p, @profile %>
        </div>

        <div class="pmf_clear">&nbsp;</div>
      </div>

      <%= render :partial => "membership_info" %>

      <div class="pmf_clear">&nbsp;</div>

    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="profile_links">
    <% if @p == @profile %>
      <div class="button">
        <%= link_to "Edit Profile", edit_profile_path %>
      </div>
    <% end %>

    <div class="button">
      <%= link_to "View Portfolio", portfolio_profile_path(@profile) %>
    </div>

  </div>

  <% if @p == @profile && @followed_blogs.size > 0 %>

    <div class="dashed_light_border">&nbsp;</div>

    <div class="pmf_clear_20">&nbsp;</div>

    <div class="pageTitle">Followed Members Feed</div>

    <div class="pmf_clear">&nbsp;</div>

    <%= render :partial => '/blogs/blogs', :locals => {:blogs => @followed_blogs} %>

    <%= pagination_controls_for @followed_blogs if @followed_blogs.respond_to? :total_pages %>
  <% end %>
</div>