<div id="profile">
  <div id="profile_section">

    <div class="half left">
      <div class="pageTitle">
        <% if @p == @profile %>
          My
        <% else %>
          <%=@profile.user.login%>'s
        <% end %>
        Profile
      </div>

      <div class="activity_box learn">
        <div class="left avatar"><%= icon @profile, :medium %></div>
        <div class="right bio_stuff">
          <div class="user_name"><%= h @profile.f %></div>

          <div id="user_info">
            <% unless @profile.last_activity_at.blank? %>
              <div class="label">Last Active:</div>
              <div class="value"><%= time_ago_in_words @profile.last_activity_at %> ago</div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>

            <% if @profile.home_country %>
              <div class="label">Home Country:</div>
              <div class="value"><%= @profile.home_country.name %></div>
            <% end %>
          </div>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>
    </div>

    <div class="half right">

      <div id="friend_info">
        <div class="title">
          <% if @p == @profile %>
            My
          <% else %>
            <%=@profile.user.login%>'s
          <% end %>
          Friends
        </div>

        <div class="label">Followed By:</div>
        <div class="value">
          <%= link_to pluralize(@profile.followers.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FOLLOWERS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="label">Following:</div>
        <div class="value">
          <%= link_to pluralize(@profile.followings.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FOLLOWINGS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="label">Friends With:</div>
        <div class="value">
          <%= link_to pluralize(@profile.friends.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FRIENDS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div id="friend_link_container">
          <%= get_friend_link @p, @profile %>
        </div>

        <div class="pmf_clear">&nbsp;</div>
      </div>

      <%= render :partial => "membership_info" %>

      <div class="pmf_clear">&nbsp;</div>

    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="profile_links">
    <% if @p == @profile %>
      <div class="button">
        <%= link_to "Edit Profile", edit_profile_path %>
      </div>
    <% end %>

    <div class="button">
      <%= link_to "View Portfolio", portfolio_profile_path(@profile) %>
    </div>

  </div>

  <% if @p == @profile && @items.size > 0 %>

    <div class="dashed_light_border">&nbsp;</div>

    <div class="pmf_clear_20">&nbsp;</div>

    <div class="pageTitle">My Live Feed</div>

    <div class="pmf_clear">&nbsp;</div>

    <% @items.each do |item| %>
      <% if item.kind_of? Blog %>
        <%= render :partial => "/blogs/templates/#{blog_template_name(item)}",
          :locals => {:blog => item, :truncate_blog => true,
          :link_blog_header => true } %>
      <% elsif item.kind_of? ProjectComment %>
        <%= render :partial => '/project_comments/comment_info', :locals => {:project_comment => item} %>
      <% elsif item.kind_of? AdminProjectRating %>
        <%= render :partial => '/shared/partials/admin_project_rating', :locals => {:admin_project_rating => item} %>
      <% elsif item.kind_of? PmfFundSubscriptionHistory %>
        <%= render :partial => '/shared/partials/pmf_subscription_change',
          :locals => { :pmf_subscription => item } %>
      <% end %>
    <% end %>

    <%= pagination_controls_for @items if @items.respond_to? :total_pages %>

  <% end %>
</div>