<% if @p != @profile %>
  <div class="pageTitle">
    <%=@profile.user.login%>'s
    Profile
  </div>
<% end %>

<div id="profile">

  <div class="profile_links">
    <% if @p == @profile %>
      <div class="link">
        <%= link_to "Edit Profile", edit_profile_path(@profile) %>
      </div>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div id="profile_section">

    <div class="half left">

      <div class="activity_box learn">
        <div class="left avatar">
          <%= icon @profile, :medium %>
          <div class="follow_button">
            <%= follow_member_button @profile %>
          </div>
        </div>
        <div class="left bio_stuff">
          <div class="user_name"><%= h @profile.f %></div>

          <div id="user_info">
            <% unless @profile.last_activity_at.blank? %>
              <div class="label">Last Active:</div>
              <div class="value"><%= time_ago_in_words @profile.last_activity_at %> ago</div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>

            <% if @profile.home_country %>
              <div class="label">Home Country:</div>
              <div class="value"><%= @profile.home_country.name %></div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>

            <div class="label">Avg. Member Rating:</div>
            <div class="value"><%= @profile.user.member_rating %></div>

            <div class="pmf_clear">&nbsp;</div>

            <div class="label">Member Since:</div>
            <div class="value"><%= @profile.created_at.strftime '%d %b %Y' %></div>

          </div>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <% if @p != @profile %>
        <div id="producer_rating_area" class="pmf_top_margin_20">
          <div class="pageTitle pmf_top_margin_10">Rate This Member</div>
          <div class="pmf_clear pmf_top_margin_10">&nbsp;</div>

          <% if logged_in %>
            <% if @profile.user.id != @u.id %>
              <% form_tag :controller => "member_rating", :action => "rate", :member_id => @profile.user.id do %>
                <% if @my_member_rating %>
                  <div class="label">Your Current Rating:</div>
                  <div class="value"><%= @my_member_rating.rating %></div>
                <% end %>
                <% if @allowed_to_rate %>
                  <div class="pmf_clear">&nbsp;</div>
                  <div class="label">New Rating:</div>
                  <div class="value">
                    <%= select_tag "rating", options_for_select(@rating_select_opts, @selected_my_member_rating) %>
                  </div>
                  <input id="rating_submit" type="submit" name="submit" value="Submit"/>
                  <div class="pmf_clear">&nbsp;</div>
                <% end %>
                <div class="pmf_clear pmf_top_margin_10">&nbsp;</div>
                <b>Note:</b> You can only change your rating once per day
              <% end %>
            <% end %>
          <% else %>
            <label>You must <%= link_to "Log In", login_path %> to rate this member!</label>
          <% end %>
        </div>

        <div class="pmf_clear">&nbsp;</div>
      <% end %>

      <%= render :partial => "talents" %>
    </div>

    <div class="half right">

      <div id="friend_info">
        <div class="title">
          <% if @p == @profile %>
            My
          <% else %>
            <%=@profile.user.login%>'s
          <% end %>
          Followers
        </div>

        <div class="label">Followed By:</div>
        <div class="value">
          <%= link_to pluralize(@profile.followers.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FOLLOWERS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="label">Following:</div>
        <div class="value">
          <%= link_to pluralize(@profile.followings.length, "User"),
            friend_list_profile_path(@profile, :friend_type => Profile::FOLLOWINGS) %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div id="friend_link_container">
          <%= get_friend_link @p, @profile %>
        </div>

        <div class="pmf_clear">&nbsp;</div>
      </div>

      <%= render :partial => "membership_info" %>

      <div class="pmf_clear">&nbsp;</div>

      <div id="notification_info">
        <% if @p == @profile %>
          <div class="membership_type">
            <div class="title">Your Email Notifications</div>
            <p>
              You are currently set to receive email notifications for the
              following events (note you can change these settings by clicking
              the edit profile button just above your avatar at the top of this page):
            </p>

            <ul>
              <% @u.notifications.each do |notification| %>
                <li><%= notification.description %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div class="portfolio_info pmf_top_margin_20">
        <div class="title">Portfolio Info</div>
        <div class="pmf_clear">&nbsp;</div>

        <% if @projects_awaiting_payment_count > 0 %>
          <div class="stat_label">Projects Awaiting Payment:</div>
          <div class="stat">
            <a href="<%= url_for(:controller => "profiles", :action => "portfolio_awaiting_payment") %>">
              <b><%= @projects_awaiting_payment_count %></b>
            </a>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        <% end %>

        <div class="stat_label">Walked the plank:</div>
        <div class="stat">
          <%= pluralize(@user.warn_points, "time") %>
          (<a class="tooltip_arrow" title="When a user defaults on paying for shares, he will walk the plank!">?</a>)
        </div>
        <div class="stat_label">No. Projects Offering Shares:</div>
        <div class="stat"><%= @user_projects.size %></div>
        <div class="stat_label">No. Projects In Payment:</div>
        <div class="stat"><%= @user_projects_in_payment.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Projects Funded:</div>
        <div class="stat"><%= @user_funded_projects.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Funded Projects Reserving Shares In:</div>
        <div class="stat"><%= @user_funded_subscriptions.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Non Funded Projects Reserving Shares In:</div>
        <div class="stat"><%= @user_non_funded_subscriptions.size %></div>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label">No. Shares Reserved Total:</div>
        <div class="stat"><%= @total_shares_reserved %></div>
        <div class="stat_label">$ Amount of Shares Reserved Total:</div>
        <div class="stat">$<%= @total_shares_reserved_amount %></div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div class="portfolio_info portfolio_info pmf_top_margin_20">
        <% if !@top_projects.empty? %>
          <div class="title"><%= me_or_login %> Top 5 Projects (24 Hour Change)</div>

          <div class="stat_label_header">Symbol</div>
          <div class="stat_header">Todays Change</div>
          <div class="pmf_clear">&nbsp;</div>

          <% @top_projects.each do |tp| %>
            <div class="pmf_clear">&nbsp;</div>
            <div class="stat_label"><%= link_to tp.project.symbol, project_path(tp.project) %></div>
            <div class="arrow">
              <%= up_down_arrow tp.share_change %>
            </div>
            <div class="stat">
              <%= tp.share_change.abs %> Shares
            </div>
            <div class="pmf_clear">&nbsp;</div>
          <% end %>
        <% end %>
      </div>

      <div class="pmf_clear">&nbsp;</div>
    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="dashed_light_border">&nbsp;</div>

  <h2>
    <% if @p == @profile %>
      My
    <% else %>
      <%=@profile.user.login%>'s
    <% end %>
    Updates
  </h2>

  <div class="dashed_light_border">&nbsp;</div>

  <% if @blogs.empty? %>
    <div class="pageTitleSmaller">
      No Updates Found!
    </div>
    <div class="pmf_clear">&nbsp;</div>
  <% end %>

  <% @blogs.each do |blog| %>
    <%= render :partial => "/blogs/templates/buzz", :locals => {:blog => blog} %>
  <% end %>

  <%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>   
    
  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">
    <div class="pageTitle">
      <% if @p == @profile %>
        Your
      <% else %>
        <%=@profile.user.login%>'s
      <% end %>
      projects that are frozen in yellow light stage awaiting a bitpay email
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <%= render :partial => "projects/listings", :object => @user_owned_frozen_yellow_projects %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">
    <div class="pageTitle">
      <% if @p == @profile %>
        Your
      <% else %>
        <%=@profile.user.login%>'s
      <% end %>
      projects that are in payment
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <%= render :partial => "projects/listings", :object => @user_projects_in_payment %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">
    <div class="pageTitle">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      <i>offering</i> shares (raising money) for these projects
    </div>

    <%= render :partial => "projects/listings", :object => @user_projects %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">

    <div class="pageTitle">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      <i>reserving</i> reserving shares in these projects
    </div>

    <%= render :partial => "projects/listings", :object => @user_non_funded_subscriptions %>
  </div>

  <div class="project_listing_box">
    <div class="pageTitle">
      <% if @p == @profile %>
        Your
      <% else %>
        <%=@profile.user.login%>'s
      <% end %>
      projects that members helped fund
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <%= render :partial => "projects/listings", :object => @user_funded_projects %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_listing_box">

    <div class="pageTitle">
      <% if @p == @profile %>
        You are
      <% else %>
        <%=@profile.user.login%> is
      <% end %>
      one of the PMF members that helped fund these projects
    </div>

    <%= render :partial => "projects/listings", :object => @user_funded_subscriptions %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>