<div class="blog-row">

  <div class="blog-entry">
    <div class="blog-title">
      <%= link_to h(blog.title), :controller => "blogs", :action => "show", :id => blog.id %>
    </div>

    <div class="blog-date"><%= blog.created_at.to_formatted_s(:long_ordinal) %></div>

    <div class="share_buttons">
      <div class="facebook_button">
        <a name="fb_share" type="button_count" share_url="<%= url_for :only_path => false, :controller => "blogs", :action => "show", :id => blog.id %>"
           href="http://www.facebook.com/sharer.php">Share</a>
        <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
      </div>

      <div class="tweet_button">
        <script type="text/javascript">
          tweetmeme_style = 'compact';
          tweetmeme_url = '<%= url_for :only_path => false, :controller => "blogs", :action => "show", :id => blog.id %>';
        </script>
        <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <% if !blog.is_homepage_blog %>
      <div class="project_author_links">
        <div class="project">
          From Project: <%= link_to h(awesome_truncate(blog.project.title, 20)), :controller => "projects", :action => "show", :id => blog.project.id %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="author_link">
          By: <%= link_to h(blog.project.owner.profile.user.login), profile_path(blog.project.owner.profile) %>
        </div>
      </div>
    <% end %>

    <div class="blog-body">
      <% @blog_body_content = blog_body_content blog %>
      <%= truncate((@blog_body_content), 500) %>

      <% if @blog_body_content.length > 500 %>
        <%= link_to "(More)", {:controller => "blogs", :action => "show", :id => blog.id}, :class => "more_link" %>
      <% end %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="blog_comments_link">
      <% if !blog.is_homepage_blog %>
        <%= link_to "#{pluralize(blog.num_comments, "comment")}", :controller => "blogs", :action => "show", :id => blog.id %>
      <% else %>
        <%= link_to "#{pluralize(blog.num_comments, "comment")}", blog.wp_comments_link %> (on www.maxkeiser.com)
      <% end %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

  </div>

</div>

<div class="dashed_light_border">&nbsp;</div>