<div>
  <div class="blog-entry">
    <div class="blog-title"><%= link_to blog.title, :controller => "blogs", :action => "show", :id => blog.id %></div>

    <div class="blog-date"><%= blog.created_at.to_formatted_s(:long_ordinal) %></div>

    <div style="clear:both;"></div>

    <div class="blog-body">
      <%= truncate((blog_body_content blog), 200)%>
      (<%= link_to "More", :controller => "blogs", :action => "show", :id => blog.id %>)
    </div>

    <% if is_admin? %>
      <div class="blog_admin_links">
        <%= link_to 'New Blog Entry', {:controller => "admin/homepage_blog", :action => "new"} %> |
        <%= link_to "Manage Max Blog Posts", {:controller => "admin/homepage_blog"} %>
      </div>
    <% end %>

    <div class="blog_comments_link">
      <%= link_to "#{blog.blog_comments.length} comments", :controller => "blogs", :action => "show", :id => blog.id %>
    </div>

    <div style="clear:both;"></div>
  </div>
</div>