<div id="blog_<%= blog.id %>" class="border_top blog">

  <div class="header">
    <%= sanitize(blog.title.capitalize) %>
  </div>

  <div class="blog-date">
    <%= blog.created_at.to_formatted_s(:long_ordinal) %>
  </div>

  <div class="share_buttons">
    <div class="facebook_button">
      <a name="fb_share" type="box_count" share_url="<%= url_for :only_path => false, :controller => "blogs", :action => "show", :id => blog.id %>"
         href="http://www.facebook.com/sharer.php">Share</a>
      <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    </div>

    <div class="tweet_button">
      <script type="text/javascript">
        tweetmeme_url = '<%= url_for :only_path => false, :controller => "blogs", :action => "show", :id => blog.id %>';
      </script>
      <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <% if !blog.is_homepage_blog %>
    <div class="project_author_links">
      <span class="project">
        From Project: <%= link_to h(blog.project.title), :controller => "projects", :action => "show", :id => blog.project.id %>
      </span>

      <div class="pmf_clear">&nbsp;</div>

      <span class="author_link">
        By: <%= link_to h(blog.project.owner.profile.user.login), profile_path(blog.project.owner.profile) %>
      </span>
    </div>
  <% end %>

  <div class="blog-body">
    <%= blog_body_content blog %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <% if @p && (@p.id == blog.profile_id || @u.is_admin) && !blog.is_homepage_blog %>
    <div class="blog_admin_links">
      <div class="button right"><%= link_to "Edit", :action => "edit", :id => blog.id %></div>
      <div class="button right"><%= link_to "Delete", blog_path(blog), :confirm => 'Are you sure?', :method => :delete %></div>
    </div>
  <% end %>

  <div class="pmf_clear_bottom_border">&nbsp;</div>

  <% if !blog.is_homepage_blog %>
    <div class="pageTitle">
      Comments
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="comment_scroll pmf_top_margin_10">
      <% if blog.num_comments > 0 %>
        <% blog.blog_comments.each do |blog_comment| %>
          <div class="<%= cycle("view-lite-row", "view-lite-row-alt") %> blog-row">
            <div class="profile-pic">
              <%= icon blog_comment.user.profile, :medium %>
            </div>
            <div class="blog-comment">
              <p><b>Posted by:</b> <%= "#{blog_comment.user.login} on #{blog_comment.created_at.to_formatted_s(:long_ordinal)}:" %></p>
              <p><%= h blog_comment.body %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        No comments yet, be the first to comment!
      <% end %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div id="comment_form pmf_top_margin_10">
      <h3>Enter a comment:</h3>

      <% if @p %>
        <% form_for(@blog_comment, :url => {:controller => :blog_comments, :action => :create}) do |f| %>
          <%= f.error_messages %>
          <%= f.hidden_field :blog_id, :value => blog.id %>
          <%= f.hidden_field :user_id, :value => @u.id %>

          <%= f.text_area :body, :cols => 42, :rows => 4 %>

          <div class="row clear">
            <div id="captcha_section"><%= recaptcha_tags %></div>
          </div>

          <p><%= f.submit 'Submit' %></p>
        <% end %>
      <% else %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    <% else %>
      <%= link_to "#{pluralize(blog.num_comments, "comment")}", blog.wp_comments_link %> (on www.maxkeiser.com)
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>