<div id="blog_<%= blog.id %>" class="border_top blog">
  <div class="header"><%= link_to sanitize(blog.title.capitalize), :controller => :blogs, :action => "show", :id => blog.id %></div>

  <div class="blog-date"><%= blog.created_at.to_formatted_s(:long_ordinal) %></div>

  <div style="clear:both;"></div>

  <div>
    <%= blog_body_content blog %>
  </div>

  <div style="clear:both;"></div>

  <% if @p && @p.id == blog.profile_id %>
    <div style="float: right;">
      <%= link_to "Edit", :action => "edit", :id => blog.id %> |
        <%= link_to "Delete", blog_path(blog), :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>
</div>