<% project ||= nil %>

<div id="post_update_box">    

  <div class="pmf_clear">&nbsp;</div>

  <%= render :partial => "/blogs/subnav" %>

  <div class="pmf_clear">&nbsp;</div>

  <% if @u %>

    <div id="blog_entry_section">
      <% form_tag({:controller => "blogs", :action => "create"}, {:id => "blog_form"}) do %>

        <div id="header">What's the Buzz?</div>

        <div class="pmf_clear">&nbsp;</div>

        <textarea id="blog_body" name="blog[body]" rows="3" onkeyup="doBuzzCharCount(this);"></textarea>

        <div id="link_project_area">
          Link a Project (Optional):
          <select name="project_id" id="project_id">
            <option value="-1">Select a project...</option>
            <% @u.project_select_opts(project).each do |group_name, projects| %>
              <optgroup label="<%=group_name%>">
                <% projects.each do |project, put| %>
                  <option value="<%=project.id%>" onclick="$('#project_user_talent_id').val(<%=put ? put.id : ''%>);">
                    <%=project.title%>
                  </option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
          <input type="hidden" id="project_user_talent_id" name="project_user_talent_id" value=""/>
        </div>

        <input type="hidden" id="blog_rebuzz_id" name="blog[blog_rebuzz_id]"/>

        <div class="button_small" id="post_button" onclick="doPostBuzz()">Post</div>

        <div id="char_count">140</div>

        <div id="link_shorten_message">(links will be shortened)</div>

        <% if @u.mkc_post_ability %>
          <div id="crosspost">
            <div class="input_container">
              <input type="checkbox" name="publish_to_mkc"/>
            </div>
            <div class="input_label">Publish to maxkeiser.com?</div>
          </div>
        <% end %>
      <% end %>

    </div>

  <% end %>

  <div class="pmf_clear">&nbsp;</div>

  <div class="subnav_links left">
    <div class="link <%= (@selected_subnav_link == "pmf_fund" ? "selected" : "") %>">
      <span class="fund_image_comments_subnav">
        <%= link_to image_tag("skull_small.png", :size => "22x18"), latest_comments_path %>
      </span>
      <%= link_to "PMF Fund", latest_comments_path %>
    </div>

    <div class="link <%= (@selected_subnav_link == "pmf" ? "selected" : "") %>">
      <span class="fund_image_blog_subnav">
        <%= link_to image_tag("pmf_fund_avatar_small.png", :size => "20x20"), :action => "admin" %>
      </span>
      <%= link_to "PMF Blog", :controller => "/blogs", :action => "admin" %>
    </div>

    <div class="link <%= (@selected_subnav_link == "maxkeiser" ? "selected" : "") %>">
      <span class="mkc_image_blog_subnav">
        <%= link_to image_tag("mkc_favicon.png", :size => "15x15"), :controller => :blogs, :action => "mkc" %>
      </span>
      <%= link_to "maxkeiser", :controller => "/blogs", :action => "mkc" %>
    </div>

    <div class="pmf_clear">&nbsp;</div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>

<div class="pmf_clear">&nbsp;</div>
