<div class="pageTitleSmall">
  <%= link_to_function "Click Here to Post an Update >>>", "$('#blog_entry_section').slideDown();" %>
</div>

<div id="blog_entry_section" style="display: none;">
  <% form_for blog, :url => {:controller => "blogs", :action => "create", :id => blog.id}  do |f| %>

    <%= f.hidden_field :profile_id, :value => @u.profile.id %>

    <table class="project_form" style="border-spacing: 10px; width: 100%;">

      <thead>
        <tr>
          <td style="width: 20%;"></td>
          <td style="width: 80%;"></td>
        </tr>
      </thead>

      <tr>
        <td>Title</td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td>Body</td>
        <td><%= f.text_area :body, :rows => 4 %></td>
      </tr>
      <tr>
        <td>Link a project (optional):</td>
        <td>
        <%= select_tag :project_id, options_for_select(@u.project_select_opts) %></td>
      </tr>
      <tr>
        <td colspan="2" align="right">
          <%= f.submit "Post" %>
        </td>
      </tr>
    </table>

    <input type="hidden" name="blog[is_member_blog]" value="true"/>
  <% end %>

</div>

<div class="dashed_light_border">&nbsp;</div>