<% project ||= nil %>

<div id="post_update_box">

  <div class="pageTitleSmall">
    <%= link_to_function "Click Here to Post an Update >>>", "$('#blog_entry_section').slideDown();" %>
  </div>

  <div id="blog_entry_section" style="display: none;">
    <% form_tag :controller => "blogs", :action => "create" do %>

      <table class="project_form" style="border-spacing: 10px; width: 100%;">

        <thead>
          <tr>
            <td style="width: 40%;"></td>
            <td style="width: 60%;"></td>
          </tr>
        </thead>

        <tr>
          <td>Link Project:</td>
          <td>
            <select name="project_id" id="project_id">
              <option value="-1">Select a project...</option>
              <% @u.project_select_opts(project).each do |group_name, projects| %>
                <optgroup label="<%=group_name%>">
                  <% projects.each do |project, put| %>
                  <option value="<%=project.id%>" onclick="$('#project_user_talent_id').val(<%=put ? put.id : ''%>);">
                      <%=project.title%>
                    </option>
                  <% end %>
                </optgroup>
              <% end %>
            </select>
            <input type="hidden" id="project_user_talent_id" name="project_user_talent_id" value=""/>
          </td>
        </tr>

        <tr>
          <td>Your Update:</td>
          <td><textarea id="blog_body" name="blog[body]" rows="3" cols="98"></textarea></td>
        </tr>

        <% if @u.mkc_post_ability %>
          <tr>
            <td>
              Publish to MKC?
            </td>
            <td>
              <input type="checkbox" name="publish_to_mkc"/>
            </td>
          </tr>
        <% end %>

        <tr>
          <td colspan="2" align="right">
            <%= submit_tag "Post" %>
          </td>
        </tr>
      </table>

    <% end %>

  </div>

</div>

<div class="pmf_clear">&nbsp;</div>
