<div class="subnav_links left">

  <div class="link member_updates <%= (@selected_subnav_link == "member_updates" ? "selected" : "") %>">
    <%= link_to "Member Buzz", :controller => "/blogs", :action => "all_member_blogs" %>
  </div>

  <div class="link project_updates <%= (@selected_subnav_link == "project_updates" ? "selected" : "") %>">
    <%= link_to "Project Buzz", :controller => "/blogs", :action => "index" %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>

<% if @u %>
  <div class="subnav_links left">
    <div class="link member_updates <%= (@selected_user_subnav_link == "my_member_blogs" ? "selected" : "") %>">
      <%= link_to "Members Buzz I Follow", :controller => :blogs, :action => "my_member_blogs" %>
    </div>

    <div class="link project_updates <%= (@selected_user_subnav_link == "my_project_blogs" ? "selected" : "") %>">
      <%= link_to "Project Buzz I Follow", :controller => :blogs, :action => "my_project_blogs" %>
    </div>

    <div class="link member_updates <%= (@selected_user_subnav_link == "my_mentions" ? "selected" : "") %>">
      <%= link_to "@#{h @u.login}", :controller => :blogs, :action => "my_mentions" %>
    </div>

    <div class="pmf_clear">&nbsp;</div>
  </div>

  <div class="pmf_clear">&nbsp;</div>
<% end %>

<div class="pmf_clear">&nbsp;</div>