<div id="subnav_links">

  <div class="link">
    <%= link_to "PMF Member Feed", :controller => :blogs, :action => "all_member_blogs" %> -
  </div>

  <div class="link">
    <%= link_to "PMF Project Feed", :controller => :blogs, :action => "index" %> -
  </div>

  <div class="link">
    <%= link_to "Producer Blogs", :controller => :blogs, :action => "producer" %> -
  </div>

  <div class="link">
    <span class="fund_image_comments_subnav">
      <%= link_to image_tag("coin_bag_tiny.png", :size => "15x15"), latest_comments_path %>
    </span>
    <%= link_to "PMF Fund", latest_comments_path %> -
  </div>

  <div class="link">
    <span class="fund_image_blog_subnav">
      <%= link_to image_tag("pmf_fund_avatar_small.png", :size => "20x20"), :action => "admin" %>
    </span>
    <%= link_to "PMF Blog", :controller => :blogs, :action => "admin" %> -
  </div>

  <div class="link">
    <span class="mkc_image_blog_subnav">
      <%= link_to image_tag("mkc_favicon.png", :size => "15x15"), :controller => :blogs, :action => "mkc" %>
    </span>
    <%= link_to "maxkeiser", :controller => :blogs, :action => "mkc" %>
  </div>

  <% if !@hide_filter_params %>
    <div id="filter_projects_nav" class="right">
      <%= render :partial => 'shared/filter_param_box' %>
    </div>

    <div id="filter_users_nav" class="right">
      <%= render :partial => 'shared/filter_users_param_box' %>
    </div>
  <% end %>

</div>

<div class="pmf_clear">&nbsp;</div>