<% content_for :head do %>
  <meta name="title" content="<%= h @blog.title %>" />
  <meta name="description" content="<%= h @blog.body %>" />
  <link rel="image_src" href="<%= blog_icon_path @blog, :big %>"/>
<% end %>

<div class="dashed_light_border">&nbsp;</div>

<div id="blog_<%= @blog.id %>" class="border_top blog">

  <%= render :partial => "/blogs/templates/#{blog_template_name(@blog)}",
    :locals => {:blog => @blog, :truncate_blog => false,
    :link_blog_header => false } %>

  <div class="pmf_clear">&nbsp;</div>

  <% if show_blog_edit_buttons %>
    <div class="blog_admin_links">
      <div class="button right"><%= link_to "Edit", :action => "edit", :id => @blog.id %></div>
      <div class="button right"><%= link_to "Delete", blog_path(@blog), :confirm => 'Are you sure?', :method => :delete %></div>
    </div>
  <% end %>

  <% if !@blog.is_mkc_blog %>
    <div class="pageTitle">
      <a name="comment_list">Comments</a>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="comment_scroll pmf_top_margin_10">
      <% if @blog.num_comments > 0 %>
        <% @blog.blog_comments.each do |blog_comment| %>
          <div class="<%= cycle("view-lite-row", "view-lite-row-alt") %> blog-row">
            <div class="profile-pic">
              <%= icon blog_comment.user.profile, :medium %>
            </div>
            <div class="blog-comment">
              <p><b>Posted by:</b> <%= "#{blog_comment.user.login} on #{blog_comment.created_at.to_formatted_s(:long_ordinal)}:" %></p>
              <p><%= h blog_comment.body %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        No comments yet, be the first to comment!
      <% end %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div id="comment_form pmf_top_margin_10">
      <h3><a name="add_comment">Enter a comment:</a></h3>

      <% if @p %>
        <% form_for(@blog_comment, :url => {:controller => :blog_comments, :action => :create}) do |f| %>
          <%= f.error_messages %>
          <%= f.hidden_field :blog_id, :value => @blog.id %>
          <%= f.hidden_field :user_id, :value => @u.id %>

          <%= f.text_area :body, :cols => 42, :rows => 4 %>

          <div class="row clear">
            <% if need_captcha %>
              <div id="captcha_section"><%= recaptcha_tags %></div>
            <% end %>
          </div>

          <p><%= f.submit 'Submit' %></p>
        <% end %>
      <% else %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>