<div id="blog_<%= @blog.id %>" class="border_top blog">

  <%= render :partial => "blog_info", :locals => {:blog => @blog, :show_icon => true} %>

  <div class="pmf_clear">&nbsp;</div>

  <% if @p && (@p.id == @blog.profile_id || @u.is_admin) && !@blog.is_homepage_blog %>
    <div class="blog_admin_links">
      <div class="button right"><%= link_to "Edit", :action => "edit", :id => @blog.id %></div>
      <div class="button right"><%= link_to "Delete", blog_path(@blog), :confirm => 'Are you sure?', :method => :delete %></div>
    </div>
  <% end %>

  <div class="pmf_clear_bottom_border">&nbsp;</div>

  <% if !@blog.is_homepage_blog %>
    <div class="pageTitle">
      Comments
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="comment_scroll pmf_top_margin_10">
      <% if @blog.num_comments > 0 %>
        <% @blog.blog_comments.each do |blog_comment| %>
          <div class="<%= cycle("view-lite-row", "view-lite-row-alt") %> blog-row">
            <div class="profile-pic">
              <%= icon blog_comment.user.profile, :medium %>
            </div>
            <div class="blog-comment">
              <p><b>Posted by:</b> <%= "#{blog_comment.user.login} on #{blog_comment.created_at.to_formatted_s(:long_ordinal)}:" %></p>
              <p><%= h blog_comment.body %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        No comments yet, be the first to comment!
      <% end %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div id="comment_form pmf_top_margin_10">
      <h3>Enter a comment:</h3>

      <% if @p %>
        <% form_for(@blog_comment, :url => {:controller => :blog_comments, :action => :create}) do |f| %>
          <%= f.error_messages %>
          <%= f.hidden_field :blog_id, :value => @blog.id %>
          <%= f.hidden_field :user_id, :value => @u.id %>

          <%= f.text_area :body, :cols => 42, :rows => 4 %>

          <div class="row clear">
            <div id="captcha_section"><%= recaptcha_tags %></div>
          </div>

          <p><%= f.submit 'Submit' %></p>
        <% end %>
      <% else %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    <% else %>
      <%= link_to "#{pluralize(@blog.num_comments, "comment")}", @blog.wp_comments_link %> (on www.maxkeiser.com)
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>