<div id="header">

  <div id="brand">
    <a href="/">
      <img id="header_image" src="/images/pmf_header.png"/>
    </a>
  </div>

  <div id="header_links">

    <a href="/projects/new">
      <div id="new_project_button">
        <img id="header_image" src="/images/need-piratefunds.png"/>
      </div>
    </a>

    <div id="dropdowns_container">
      <% if !@hide_filter_params %>
        <div id="filter_projects_nav" class="right">
          <%= render :partial => 'shared/filter_param_box' %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div id="filter_users_nav" class="right">
          <%= render :partial => 'shared/filter_users_param_box' %>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div id="filter_talent_nav" class="right">
          <%= render :partial => 'shared/filter_talent_param_box' %>
        </div>
      <% end %>
    </div>

    <div id="global_search_container">
      <% form_tag search_path, :method => :get, :class => "navbar-search", :id => :global_search_form do -%>
        <div id="search">
          <%= text_field_tag 'search[q]',
            (params[:search] && params[:search][:q] ? params[:search][:q] : 'Search'),
            :id => 'search_q', :onfocus => "$(this).select();" %>
          <div id="search_button" onclick="$('#global_search_form').submit();">&nbsp;</div>
          <input id="global_search_type" type="hidden" name="search_type" value="projects"/>
        </div>
      <% end %>
    </div>

    <%= render :partial => "shared/login_box" %> 

  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>

<div class="pmf_clear">&nbsp;</div>