<div id="header">

  <div id="header_left">
    <div id="brand">
      <a href="/">
        <img id="header_image" src="/images/pmf_header.png" border="0"
             title="Pirate My Film!"/>
      </a>

      <div class="big-number">
        <p></p>
      </div>
    </div>

    <div id="social_links">
      <div id="widget_link">
        <%= link_to "Get a Widget for Your Site!", :controller => "project_widgets" %>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div class="twitter-link">
        <%= link_to image_tag("twitter.gif", :size => "35x30"),
          "http://www.twitter.com/piratemyfilm",
          :target => "_blank" %>
      </div>

      <div class="fb-link">
        <%= link_to image_tag("facebook-logo.png", :size => "30x30"),
          "http://www.facebook.com/pages/PirateMyFilm/75309097341",
          :target => "_blank" %>
      </div>
    </div>

  </div>

  <div class="sitewide_portfolio_info">
    <div class="title">Most Active Projects</div>

    <div class="explain">
      Projects that have gained/lost
      the most share reservations in the last 24 hours
    </div>

    <div id="winners">
      <div class="stat_label_header">Symbol</div>
      <div class="stat_header">Todays Change</div>
      <div class="pmf_clear">&nbsp;</div>

      <% @top_sitewide_projects.each do |tp| %>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label"><%= link_to tp.project.symbol, project_path(tp.project) %></div>
        <div class="arrow">
          <%= up_down_arrow tp.share_change %>
        </div>
        <div class="stat">
          <%= tp.share_change.abs %> Shares
        </div>
        <div class="pmf_clear">&nbsp;</div>
      <% end %>

      <div class="pmf_clear">&nbsp;</div>
    </div>

    <div id="losers">
      <div class="stat_label_header">Symbol</div>
      <div class="stat_header">Todays Change</div>
      <div class="pmf_clear">&nbsp;</div>

      <% @bottom_sitewide_projects.each do |tp| %>
        <div class="pmf_clear">&nbsp;</div>
        <div class="stat_label"><%= link_to tp.project.symbol, project_path(tp.project) %></div>
        <div class="arrow">
          <%= up_down_arrow tp.share_change %>
        </div>
        <div class="stat">
          <%= tp.share_change.abs %> Shares
        </div>
        <div class="pmf_clear">&nbsp;</div>
      <% end %>

      <div class="pmf_clear">&nbsp;</div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

  </div>
</div>

<div class="pmf_clear">&nbsp;</div>

<div id="icatch">
  <div class="icatch-pictures">
    <div class="local-navbar-button">
      <span><%= link_to 'List a Project', new_project_path %></span>
      <p>Raise Money</p>
    </div>

    <div class="right">
      <% form_tag search_projects_path, :method => :get, :class => "navbar-search" do -%>
        <div id="search">
          <img src="/images/brand-search.gif" alt="Search" />
          <%= text_field_tag 'search[q]',
            (params[:search] && params[:search][:q] ? params[:search][:q] : ''),
            :id => 'search_q', :size => 14 %>
          <input type="image" src="/images/brand-go-off.gif" name="submit" />
        </div>
      <% end %>
    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>

<div class="pmf_clear">&nbsp;</div>

<div id="icatch">
  <div class="icatch-pictures">
    <div class="local-navbar-button">
      <span><%= link_to 'Project Talent', :controller => "user_talents" %></span>
      <p>Browse Talent</p>
    </div>

    <div class="local-navbar-button">
      <span><%= link_to "Members", :controller => "profiles" %></span>
      <p>View Members</p>
    </div>

    <div class="local-navbar-button">
      <span><a href="/pages/stats">Site Statistics</a></span>
      <p>General Stats</p>
    </div>

    <% if !@hide_filter_params %>
      <div id="filter_projects_nav" class="right">
        <%= render :partial => 'shared/filter_param_box' %>
      </div>

      <div id="filter_users_nav" class="right">
        <%= render :partial => 'shared/filter_users_param_box' %>
      </div>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>

<div class="pmf_clear">&nbsp;</div>