<div class="right">
  <div id="signup_section">
    <% if(@u.nil? or @u.new_record?) %>
      <div id="login_form_top">

        <% form_tag login_path, :method => :post, :id => "login_form" do |f| %>

          <div id="fields">
            <div class="label">Username:</div>
            <div class="input"><%= text_field_tag "user[login]", "", :size => 9 %></div>
            <div class="label">Password:</div>
            <div class="input"><%= password_field_tag "user[password]", "", :size => 9 %></div>
          </div>

          <div class="pmf_clear">&nbsp;</div>

          <div id="controls">
            <div id="login_link" class="button_small">
              <a href="<%= signup_path %>">Join</a>
            </div>

            <div id="login_link" class="button_small">
              <a href="#" onclick="$('#login_form').submit();return false;">Log In</a>
            </div>

            <div id="remember_me">
              <div class="label">Remember Me</div>
              <%= check_box_tag :remember_me %>
            </div>
          </div>

          <div class="pmf_clear">&nbsp;</div>

        <% end %>

      </div>

    <% else %>
      <div id="welcome_message">
        <div id="icon">
          <%= icon(@p, :small) %>
        </div>

        <div id="message">Welcome <%= link_to @u.f, profile_path(@p) %></div>

        <div class="pmf_clear">&nbsp;</div>

        <div id="links">
          <div class="link">
            &nbsp; -
            <%= link_to 'Log Out', logout_path %>
          </div>

          <% if_admin do %>
            <div id="admin_link" class="link">
              &nbsp; -
              <%= link_to 'Admin', :controller => "admin/home" %>
            </div>
          <% end %>

          <div class="link profile">
            <%= link_to "My Profile/Portfolio", profile_path(@u.profile) %>
          </div>

          <div class="pmf_clear">&nbsp;</div>

          <% if @projects_awaiting_payment_count > 0 %>
            <div class="link awaiting_payment_link">
              You have
              <a href="<%= url_for(:controller => "profiles", :action => "portfolio_awaiting_payment", :id => @u.profile.id) %>">
                <%= pluralize(@projects_awaiting_payment_count, "Project") %></a>
              awaiting payment of shares!
            </div>
          <% end %>

        </div>

      </div>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>