<div class="right">
  <div id="signup_section">
    <% if(@u.nil? or @u.new_record?) %>
      <div id="login_form_top">

        <% form_tag login_path, :method => :post do |f| %>

          <div id="fields">
            <div class="label">Username:</div>
            <div class="input"><%= text_field_tag "user[login]", "", :size => 9 %></div>
            <div class="label">Password:</div>
            <div class="input"><%= password_field_tag "user[password]", "", :size => 9 %></div>
          </div>

          <div class="pmf_clear">&nbsp;</div>

          <div id="signup_link">
            <a href="<%= signup_path %>"><div class="signup">Join PMF</div></a>
          </div>

          <div id="controls">
            <div class="label">Remember Me</div>
            <%= check_box_tag :remember_me %>
            <%= submit_tag 'Log In', :class=>'button' %>
          </div>

          <div class="pmf_clear">&nbsp;</div>

        <% end %>

      </div>

    <% else %>
      <div id="welcome_message">
        <div id="icon">
          <%= icon(@p, :small) %>
        </div>

        <div id="message">Welcome <%= link_to @u.f, profile_path(@p) %></div>

        <div class="pmf_clear">&nbsp;</div>

        <div id="links">
          <div class="link">
            &nbsp; -
            <%= link_to 'Log Out', logout_path %>
          </div>

          <% if_admin do %>
            <div id="admin_link" class="link">
              &nbsp; -
              <%= link_to 'Admin', :controller => "admin/home" %>
            </div>
          <% end %>

          <div class="link portfolio <%= (@selected_user_subnav_link == "my_portfolio" ? "selected" : "") %>">
            &nbsp; -
            <%= link_to "My Portfolio", portfolio_profile_path(@u.profile) %>
          </div>

          <div class="link profile <%= (@selected_user_subnav_link == "my_profile" ? "selected" : "") %>">
            <%= link_to "My Profile", profile_path(@u.profile) %>
          </div>

          <div class="pmf_clear">&nbsp;</div>

          <% if @projects_awaiting_payment_count > 0 %>
            <div class="link awaiting_payment_link">
              You have
              <a href="<%= url_for(:controller => "profiles", :action => "portfolio_awaiting_payment", :id => @u.profile.id) %>">
                <%= pluralize(@projects_awaiting_payment_count, "Project") %></a>
              awaiting payment of shares!
            </div>
          <% end %>

        </div>

      </div>
    <% end %>
  </div>
</div>