<ul class="sidebar_nav">
  <li><%= link_to(image_tag('globalnav-home.gif', :size => "24x22", :class=>'logo'), home_path) %></li>
  <li><a href="#"><%= image_tag "globalnav-prebuy.gif", :size => "20x16" %></a></li>
  <li><a href="#"><%= image_tag "globalnav-presell.gif", :size => "20x16" %></a></li>
  <li><a href="#"><%= image_tag "globalnav-pirate.gif", :size => "25x25" %></a></li>
  <li><a href="#"><%= image_tag "globalnav-whatspmf.gif", :size => "8x21" %></a></li>
</ul>
