<div class="rbroundbox">
  <div class="rbtop"><div></div></div>
  <div class="rbcontent">
    <form>
      <fieldset>
        <input type="text" id="searchbox" />
      </fieldset>
      <label><input name="Search" type="image" value="submit" src="/images/search/search.png" alt="Search Pirate My Film" /></label>
    </form>
  </div><!-- /rbcontent -->
  <div class="clearfloat"></div>

  <div class="rbbot"><div></div></div>
</div><!-- /rbroundbox -->

<ul class="login">
  <% if @u.nil? or @u.new_record? %>
    <li>Welcome, <strong>Guest</strong></li>
    <li><%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', signup_path %></li>
  <% else %>
    <li>Welcome, <strong><%= @u.f %></strong></li> <%= link_to 'Log Out', logout_path %>
  <% end %>
</ul>

<ul class="supplementalnav">
  <li><a href="#">CONTACT</a></li>
  <li><a href="#">ABOUT US</a></li>
  <li><a href="#">ABOUT PIRATES</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">PRIVACY</a></li>
</ul>

<%= image_tag "ad-space-300-250.png", :alt=>"Place holder for a 300*250 ad space" %>