<% if(@u.nil? or @u.new_record?) %>
  <div id="signup_buttons">
    <a href="<%= signup_path %>"><div class="signup">Sign Up</div></a>
    <a href="<%= login_path %>"><div class="login">Log In</div></a>
  </div>
<% else %>
  <div id="welcome_message">
    <div id="icon">
      <%= link_to icon(@p, :small), profile_path(@p) %>
    </div>
    <div id="message">
      Welcome <%= @u.f %>
      <%= link_to '(Log Out)', logout_path %>
    </div>
    <div class="pmf_clear">&nbsp;</div>
    <div id="links">
      <div class="link">
        <%= link_to 'My Profile', profile_path(@p) %>
      </div>
      <div class="link">
        &nbsp;-&nbsp;
        <%= link_to 'My Portfolio', portfolio_profile_path(@p) %>
      </div>
      <%- if_admin do %>
        <div class="link">
          &nbsp;-&nbsp;
          <%= link_to 'Admin', :controller => "admin/home" %>
        </div>
      <% end %>
    </div>

    <div class="pmf_clear">&nbsp;</div>
    <div id="links">
      <% if @projects_awaiting_payment_count > 0 %>
        <div class="link">
          <a href="<%= url_for(:controller => "profiles", :action => "portfolio_awaiting_payment") %>">
            <b><%= pluralize(@projects_awaiting_payment_count, "Project") %></b> Awaiting Payment
          </a>
        </div>
      <% end %>
    </div>

  </div>
<% end %>