<% if(@u.nil? or @u.new_record?) %>
  <div id="signup_buttons">
    <a href="<%= signup_path %>"><div class="signup">Sign Up</div></a>
  </div>

  <div id="login_form_top">

    <% form_for User.new, :url => login_path, :method => :post do |f| %>

      <div id="fields">
        <div class="label">Username:</div>
        <%= f.text_field :login, :class => "focus_first", :label => "Username", :size => 30 %>
        <div class="pmf_clear">&nbsp;</div>
        <div class="label">Password:</div>
        <%= f.password_field :password, :size => 30 %>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div id="controls">
        <%= f.check_box :remember_me %> Remember Me
        <%= f.submit 'Log In', :class=>'button' %>
      </div>

      <div class="pmf_clear">&nbsp;</div>

    <% end %>

  </div>

<% else %>
  <div id="welcome_message">
    <div id="icon">
      <%= link_to icon(@p, :small), profile_path(@p) %>
    </div>
    <div id="message">
      Welcome <%= @u.f %>
      <%= link_to '(Log Out)', logout_path %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div id="links">
      <div class="link">
        <%= link_to 'My Profile', profile_path(@p) %>
      </div>
      <div class="link">
        &nbsp;-&nbsp;
        <%= link_to 'My Portfolio', portfolio_profile_path(@p) %>
      </div>
      <%- if_admin do %>
        <div class="link">
          &nbsp;-&nbsp;
          <%= link_to 'Admin', :controller => "admin/home" %>
        </div>
      <% end %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div id="links">
      <% if @projects_awaiting_payment_count > 0 %>
        <div class="link awaiting_payment_link">
          You have
          <a href="<%= url_for(:controller => "profiles", :action => "portfolio_awaiting_payment") %>">
          <%= pluralize(@projects_awaiting_payment_count, "Project") %></a>
          awaiting payment of shares!
        </div>
      <% end %>
    </div>

  </div>
<% end %>