<div id="top_banner_container">
  <div id="ad_banner_container">
    <div id="site_stats">
      <a href="/"><img id="header_image" src="/images/pmf-logo-black-white.jpg"/></a>

      <div class="stat">
        <%= link_to "<b>#{print_money @total_funded_amount}</b> Raised: <b>#{pluralize @num_funded_projects, "Project"}</b>", :controller => "/projects", :filter_param => "22" %>
      </div>
      <div class="stat">
        <%= print_money @total_reservations_amount %> Reserved: <%= @total_reservations %></b> Projects </br>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div class="volume_stats">
        <div class="volume_stat">
          <div class="label">Total + Volume (24h):</div>
          <div class="stat"><%= up_down_arrow @site_banner_total_ups %><%= @site_banner_total_ups.abs %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <div class="volume_stat">
          <div class="label">Total - Volume (24h):</div>
          <div class="stat"><%= up_down_arrow @site_banner_total_downs %><%= @site_banner_total_downs.abs %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>
      </div>

      <div class="pmf_clear">&nbsp;</div>

        <div class="stat more">
        <a href="/pages/stats">More Stats >>></a>
      </div>
    </div>

    <div id="ad_banner">
      <script language="JavaScript" type="text/javascript">;
        document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/invc.maxkeiser/piratemyfilm_default;kw=;kval=piratemyfilm;kval=default;tile=1;dcopt=ist;sz=728x90;ord=' + ord + '?" type="text/javascript"><\/script>');
      </script><noscript><a href="http://ad.doubleclick.net/jump/invc.maxkeiser/piratemyfilm_default;kw=;kval=piratemyfilm;kval=default;tile=1;sz=728x90;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/invc.maxkeiser/piratemyfilm_default;kw=;kval=piratemyfilm;kval=default;tile=1;sz=728x90;ord=123456789?" width="728" height="90" border="0" alt=""></a></noscript>
    </div>

    <div class="pmf_clear">&nbsp;</div>

  </div>
</div>