<div id="logintop"><!--OPEN LOGIN-->
  <div class="login-panel"><!--OPEN LOGIN PANEL-->
    <div id="login-contents"><!--COPEN LOGIN-CONTENTS-->
      <ul>
        <li>Welcome <% if(@u.nil? or @u.new_record?) %> Guest <% else %> <%=  @u.f %> <% end %> </li>
        <li style="width: 150px; overflow: hidden; text-align: left;">&nbsp; &nbsp;</li>

        <li><a href="/">Home</a></li>

        <% if(@u.nil? or @u.new_record?) %>
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li><%= link_to 'Sign In', login_path %></li>
        <% else %>
          <li><%= link_to 'Sign Out', logout_path %></li>
          <%- if_admin do %>
            <li><%= link_to 'Admin', :controller => "admin/home" %><li>
          <% end %>

        <% end %>

      </ul>

    </div><!--CLOSE LOGIN-CONTENTS-->
  </div><!--CLOSE LOGIN PANEL-->
</div><!--CLOSE LOGIN-->