<div id="payment_window_history">
  <div class="pageTitle">Collect Funds</div>

  <div class="pageTitleSmall">
    For Project <%= link_to h(@project.title), project_path(@project) %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <% if @project.pmf_share_buyout_verified? %>
    <div class="pageTitleSmall">
      PMF Buyout Request
    </div>

    <p>
      PMF bought out the last <b><%= @project.pmf_share_buyout.share_amount %></b> shares,
      worth <b><%= print_money @project.pmf_share_buyout.payment_amount %></b>.
      Please disregard any info below about outstanding shares.
    </p>

    <div class="pmf_clear_10">&nbsp;</div>

  <% end %>

  <% if @project.finished_payment_collection %>
    <div class="pageTitleSmall">
      Funds For This Project Have Been Collected In Full! Congratulations!
    </div>

    <ul>
      <li>
        <%= @project.num_completed_payment_users %> people did not pay out of <%= @project.num_all_payment_users %> 
        - these members are now marked 'plank' and will be at the end of the queue in subsequent offerings...
      </li>
    </ul>
    
    <div class="pmf_clear">&nbsp;</div>
  <% else %>

    <div class="pageTitleSmall">
      Important
    </div>

    <p class="bold font13">
      You will receive an "item number" in your paypal payment along with the payment that is made by a user. 
      You must match this up with the "item number" column here on the payment window page in order to identify who the payment came from. 
      Failure to do this will result in funds not being accounted for.
    </p>

  <% end %>

  <div class="pageTitleSmall">
    Payment Procedure Explanation
  </div>

  <ol id="payment_procedure_explanation">
    <li>Producer links their paypal email to their project</li>
    <li>PMF Admin give the project a green light, which initiates the payment phase and opens the first payment window</li>
    <li>Users get an email stating that they must now pay for their shares</li>
    <li>User pays for his shares in the current window</li>
    <li>Funds appear in the producers paypal account</li>
    <li>
      Using the "item number" that we pass to paypal, the producer matches up a users payment in paypal
      with his associated payment in the payment window
    </li>
    <li>
      The producer clicks "Mark as Paid" for each payment he receives
    </li>
    <li>
      The payment window will automatically close on the due date, and all shares that have not been marked as paid for will be
      thrown to the back of the queue and will be reused if needed. This gives users further down the queue a chance to pay for shares.
    </li>
    <li>
      If funds are not fully collected in a particular window, and there are more users wanting shares,
      the subsequent windows will allow these users to pay for their shares.
    </li>
    <li>
      After 3 subsequent share windows, there will be a request sent to PMF admin to buy out the rest of the shares.
    </li>
    <li>
      The project automatically gets bumped to "fully funded" once the final payment window closes successfully
      (meaning all funds were collected in that window)
    </li>
  </ol>

  <div class="pageTitleSmall">
    More Info
  </div>

  <p>
    The following is a summary of the payment windows associated with this project.
    You can create a payment window, where users will be able to pay for their shares by depositing into
    your paypal account. You will also see a list of previous windows.
  </p>

  <div class="pmf_clear">&nbsp;</div>

  <ul>
    <li>A total of <%= print_money @project.amount_payment_collected %> has been collected for this project.</li>
    <li>There is an amount of <%= print_money @project.amount_payment_outstanding %> still outstanding.</li>
    <li>
      If there is still outstanding funds to be collected, and users requesting shares that were initially
      marked as outstanding, you can collect funding from these shares by creating a new payment window below.
    </li>
    <li>If there are no users left in the share queue, you must request that PMF buys out the outstanding shares.</li>
  </ul>

  <div class="pmf_clear_10">&nbsp;</div>

  <% if @project.current_payment_window or (!@project.finished_payment_collection and !@project.share_queue_exhausted?) %>
    <div class="pageTitleSmall">
      Currently Active Payment Window
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <ul>
      <li>
        <%= @project.current_payment_window.num_non_paid_payments %>
        payments have not been paid. These will be added to the back of the queue when the next window opens up.
      </li>
    </ul>

    <div id="active_window">
      <div class="window_header">
        <div class="window_id">Window ID</div>
        <div class="window_opened_date">Open Date</div>
        <div class="window_close_date">Close Date</div>
        <div class="amount_collected">Amount Collected</div>
        <div class="amount_defaulted">Amount Unpaid</div>
        <div class="window_status">Window Status</div>
        <div class="pmf_clear">&nbsp;</div>
      </div>
      <div class="pmf_clear">&nbsp;</div>

      <% if @current_payment_window %>
        <div class="odd payment_window">
          <div class="window_id">
            <%= link_to @current_payment_window.id, :action => "show_current", :id => @project.id %>
            <div class="link_img">
              <%= link_to image_tag("right_arrow.png"), :action => "show_current", :id => @project.id %>
            </div>
          </div>
          <div class="window_opened_date">
            <%= @current_payment_window.created_at.to_s(:short) %>
          </div>
          <div class="window_close_date">
            <%= @current_payment_window.close_date.to_s(:short) %>
          </div>
          <div class="amount_collected">
            <%= @current_payment_window.completed_payments.size %> payments:
            <%= print_money @current_payment_window.amount_payment_collected %>
          </div>
          <div class="amount_defaulted">
            <%= @current_payment_window.num_non_paid_payments %> payments: 
            <%= print_money @current_payment_window.amount_non_paid_payment %>
          </div>
          <div class="window_status">
            <%= @current_payment_window.status_description %>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="pmf_clear_10">&nbsp;</div>
      </div>
    <% else %>

      <p>There is no currently active payment window for this project.</p>

      <p>
        Note: The next window will allocate payments in the share queue
        for the amount of <%= print_money @project.amount_payment_outstanding %>
      </p>

    <% end %>
  <% else %>
    <!-- pmf buyout -->
    <div class="pageTitleSmall">
      PMF Buyout Request
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <p>
      As there are no more users in the share queue for your project, additional funds will be automatically requested off PMF.
    </p>

    <% if @project.pmf_share_buyout_open? %>
      <p>
        You have a request pending in the queue for PMF to buy out <%= @project.amount_shares_outstanding_payment %>
        shares worth <%= print_money @project.amount_payment_outstanding %>.
        Your request will be dealt with shortly, and you will be notified by email when it has been processed.
      </p>
    <% elsif @project.pmf_share_buyout_pending? %>
      <p>
        You previously sent a request to PMF to buy out <%= @project.amount_shares_outstanding_payment %> shares
        worth <%= print_money @project.amount_payment_outstanding %>.
      </p>
      <p>
        This request was accepted. You will receive a payment to your last registered paypal email address: <%= @project.last_window_paypal_email %>
        with an item number of <b><%= @project.pmf_share_buyout_paypal_id %></b>. Once you have received the payment, click the button below to mark the payment
        as paid. If you have any issues, you can <a href="/pages/contact_us">contact us</a>.
      </p>
      <div class="button left">
        <%= link_to "Mark As Paid", {:action => "pmf_buyout_request_paid", :id => @project.id},
          :method => :post, :confirm => "Are You Sure?" %>
      </div>
    <% elsif @project.pmf_share_buyout_denied? %>
      You previously sent a request to PMF to buy out <%= @project.amount_shares_outstanding_payment %> shares
      worth <%= print_money @project.amount_payment_outstanding %>.
      This request was <b>denied</b>. You can <a href="/pages/contact_us">contact us</a> for more info.
    <% end %>
  <% end %>

  <div class="pmf_clear_10">&nbsp;</div>

  <div class="pageTitleSmall">
    Previous Payment Windows
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div id="window_history">
    <div class="window_header">
      <div class="window_id">Window ID</div>
      <div class="window_opened_date">Open Date</div>
      <div class="window_close_date">Close Date</div>
      <div class="amount_collected">Amount Collected</div>
      <div class="amount_defaulted">Amount Unpaid</div>
      <div class="window_status">Window Status</div>
      <div class="pmf_clear">&nbsp;</div>
    </div>
    <div class="pmf_clear">&nbsp;</div>

    <% if @previous_payment_windows.size == 0 %>
      <p>No Windows Found!</p>
    <% end %>

    <% @previous_payment_windows.each do |window| %>
      <div class="<%= cycle('odd','even') %> payment_window">
        <div class="window_id">
          <%= link_to window.id, :action => "show", :id => window.id %>
          <div class="link_img">
            <%= link_to image_tag("right_arrow.png"), :action => "show", :id => window.id %>
          </div>
        </div>
        <div class="window_opened_date">
          <%= window.created_at.to_s(:short) %>
        </div>
        <div class="window_close_date">
          <%= window.close_date.to_s(:short) %>
        </div>
        <div class="amount_collected">
          <%= window.completed_payments.size %> payments: 
          <%= print_money window.amount_payment_collected %>
        </div>
        <div class="amount_defaulted">
          <%= window.num_non_paid_payments %> payments: 
          <%= print_money window.amount_non_paid_payment %>
        </div>
        <div class="window_status">
          <%= window.status_description %>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>
    <% end %>

    <div class="pmf_clear_10">&nbsp;</div>

  </div>
</div>