<p>
  <% form_tag :controller => "projects", :action => "filter_by_param" do %>
    <%= select_tag :filter_param, options_for_select(@filter_params, "Order Projects By..."), :onchange => "this.form.submit();" %>
  <% end %>
</p>

<div id="MENU_HEADER" class="pageTitle">
<!--toon, toon, black and white army-->
  Recent Project Listings, Blogs, and PMF Admin Comments Update
</div>

<div id="ning_link">
  <a href="http://piratemyfilm.ning.com" target="_blank">Join Our Discussions</a>
</div>

<div style="clear:both;"></div><hr/>

<%= link_to "View Blogs", {:controller => "blogs", :action => "homepage"}, :class => "subnav_inactive" %> |
<%= link_to "View PMF Project Comments", {:controller => "projects", :action => "recently_rated"}, :class => "subnav_inactive" %>

<div style="clear:both;"></div>

<div class="project_listings">
  <% for @entry in @entries do %>
      <% if @entry.is_a?(Blog) %>
        <%= render :partial => "blog", :locals => {:blog => @entry} %>
      <% elsif @entry.is_a?(Project) %>
        <%= render :partial => "project", :locals => {:project => @entry} %>
      <% end %>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>