<div class="project_listings">
  
<% for @project in listings do %>

      <div class="<%= cycle("view-lite-row", "view-lite-row-alt") %>">

        <div class="view-lite-row-icon">
          <% if !@project.icon.nil? %>
            <%= image_tag url_for_file_column(@project, "icon", "medium") %>
          <% else %>
            <img src="/images/generic-project-icon.png" id="project-icon" height="75px" alt="Generic icon" border="0" />
          <% end %>
        </div>

        <div class="view-lite-row-project-name">
          <%= link_to h(@project.title), :controller => "/projects", :action => "show_private", :id => @project %>
        </div>

        <div class="view-lite-row-user-icon">
          <%= link_to icon(@project.owner.profile, :small), profile_path(@project.owner.profile) %>
          <span><%= link_to @project.owner.profile.user.login, profile_path(@project.owner.profile) %></span>
        </div>

        <div class="view-lite-row-numbers"></div>

        <div class="view-lite-row-description">
          <%=truncate(h(@project.description), 100)%>
          (<%= link_to "More", :controller => "/projects", :action => "show_private", :id => @project %>)
        </div>

        <div style="clear:both;"></div>
      </div>

    <% end %>
  </div>
  <div class="pmf_clear">&nbsp;</div>