<table class="project_form" style="border-spacing: 10px; width: 100%;">

  <tr><td colspan="2"><%= f.error_messages %></td></tr>

  <tr>
    <td colspan="2">
      <b>All fields marked with * are mandatory</b>
    </td>
  </tr>

  <tr>
    <td>
      * Enter project title
    </td>
    <td>
      <%= f.text_field :title%>
      <%= display_error_on(project, :title) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a site address associated with your project
    </td>
    <td>
      <%= f.text_field :web_address, :value => "http://" %>
      <%= display_error_on(project, :web_address) -%>
    </td>
  </tr>

  <tr>
    <td>
      * Budget ($)
    </td>
    <td>
      <%= f.text_field :capital_required, :value => 1000 %>
      <%= display_error_on(project, :capital_required) -%>
    </td>
  </tr>

  <tr>
    <td>
      Price per share
    </td>
    <td>
      <input type="hidden" name="project[ipo_price]" value="5"/>$5
    </td>
    <!--td>
<%= f.text_field :ipo_price, :value => 0 %>
<%= display_error_on(project, :ipo_price) -%>
    </td-->
  </tr>

 <tr>
    <td>
      * What percentage of future
      <br/>pirate copy ad sales are you offering
      <br/>to share holders? (0 - 100)%
    </td>
    <td>
      <%= f.text_field :share_percent_ads, :value => 0 %>
      <%= display_error_on(project, :share_percent_ads) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the producer
    </td>
    <td>
      <%= f.text_field :producer_name %>
      <%= display_error_on(project, :producer_name) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the executive producer
    </td>
    <td>
      <%= f.text_field :exec_producer %>
      <%= display_error_on(project, :exec_producer) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the writer
    </td>
    <td>
      <%= f.text_field :writer %>
      <%= display_error_on(project, :writer) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the director
    </td>
    <td>
      <%= f.text_field :director %>
      <%= display_error_on(project, :director) -%>
    </td>
  </tr>

  <!--tr>
    <td>
      Enter a youtube video id for your project
    </td>
    <td>
       f.text_field :youtube_vid_id
      display_error_on(project, :youtube_vid_id)
    </td>
  </tr-->

  <tr>
    <td>
      Please Select Genre
    </td>
    <td>
      <%= f.select :genre_id, @genres.map {|genre| [genre.title.titlecase, genre.id] }, :id=>"project-genre" %>
      <%= display_error_on(project, :genre_id) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a logline for your project
    </td>
    <td>
      <%= f.text_area :description, :cols => 20, :rows => 5 %>
      <%= display_error_on(project, :description) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a short synopsis for your project
    </td>
    <td>
      <%= f.text_area :synopsis, :cols => 20, :rows => 5 %>
      <%= display_error_on(project, :synopsis) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a brief list of cast in your project
    </td>
    <td>
      <%= f.text_area :cast, :cols => 20, :rows => 3 %>
      <%= display_error_on(project, :cast) -%>
    </td>
  </tr>
  <tr>
    <td>
      How long is your film in minutes?
    </td>
    <td>
      <%= f.text_field :project_length, :value => 0 %>
      <%= display_error_on(project, :project_length) -%>
    </td>
  </tr>
  <tr>
    <td>
      What is the status of your film?
    </td>
    <td>
      <%= f.select :status, Project.statuses, :id=>"project-status" %>
      <%= display_error_on(project, :status) -%>
    </td>
  </tr>

  <% unless project.icon.blank? %>
    <tr>
      <td>
        Current Icon:
      </td>
      <td>
        <%= image_tag url_for_file_column(project, "icon", "small") %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td>
      Upload a Project Icon:
      <br/><br/>
      <i>Note: your project image must be less than 1 megabyte in size</i>
    </td>
    <td>
      <%= file_column_field( "project", "icon", :size => 15)%>
      <%= display_error_on(project, :icon) -%>
    </td>
  </tr>
  
  <% if(defined?(include_captcha) && include_captcha) %>
    <tr>
      <td>Enter the words in the box to prove you are human:</td>
      <td colspan="2">
        <div id="captcha_section"><%= recaptcha_tags %></div>
      </td>
    </tr>
  <% end %>

  <tr>
    <td colspan="2" align="right">
      <input type="submit" value="Submit"/>
    </td>
  </tr>

</table>