<%= f.hidden_field :share_percent_downloads, :value => 0 %>

<h4>All fields marked with * are mandatory</h4>
<h4>All of these fields can be changed after the project appears in the system by clicking on the 'edit project' button</h4>

<table class="project_form" style="">

  <tr><td colspan="2"><%= f.error_messages %></td></tr>

  <tr>
    <td class="mandatory">
      * Enter project title
    </td>
    <td>
      <%= f.text_field :title %>
      <%= display_error_on(project, :title) -%>
    </td>
  </tr>

  <tr>
    <td class="mandatory">
      * Funds Needed ($)

      <div class="pmf_clear_10">&nbsp;</div>

      <span class="subtext">
        <b>Note:</b> If demand for shares in a project exceeds the maximum 
        supply allowed when a project is originally listed the owner will be 
        given the option of offering additional shares. There is no limit to 
        the amount of money the system can raise for a project. 
      </span>      
    </td>
    <td>
      <% if project.in_payment? %>
        <%= project.capital_required %>
      <% else %>
        <%= f.text_field :capital_required %>
        <%= display_error_on(project, :capital_required) -%>
      <% end %>
    </td>
  </tr>

  <tr>
    <td class="mandatory">
      * Please Select Genre
    </td>
    <td>
      <%= f.select :genre_id, @genres.map {|genre| [genre.title.titlecase, genre.id] }, :id=>"project-genre" %>
      <%= display_error_on(project, :genre_id) -%>
    </td>
  </tr>

  <% if !new_listing %>
    <tr>
      <td class="mandatory">
        * What is the status of your film?
      </td>
      <td>
        <%= f.select :status, Project.statuses, :id=>"project-status" %>
        <%= display_error_on(project, :status) -%>
      </td>
    </tr>
  <% else %>
    <%= f.hidden_field :status, :value => Project.statuses.first %>
  <% end %>

  <% if project.in_payment? %>

    <% if false#project.bitpay_email.blank? %>
      <tr>
        <td>
          Paypal Email
          <div class="pmf_clear">&nbsp;</div>
        </td>
        <td>
          <%= project.paypal_email %>
        </td>
      </tr>
    <% else %>
      <tr>
        <td>
          Bitpay Email
          <div class="pmf_clear">&nbsp;</div>
        </td>
        <td>
          <%= project.bitpay_email %>
        </td>
      </tr>
    <% end %>

  <% else %>

    <tr>
      <!--td>
        Paypal Email
        <div class="pmf_clear">&nbsp;</div>
        <span class="subtext">
          Note: Enter an email address that you have a paypal account linked to. 
          It will be used by users to send share payments.
        </span>
      </td>
      <td>
      <%= f.text_field :paypal_email %>
      <%= display_error_on(project, :paypal_email) -%>
      </td>
    </tr-->

    <tr>
      <td>
        Bitpay Email
        <div class="pmf_clear">&nbsp;</div>
        <span class="subtext">
          Note: Enter an email address that you have a bitpay (<a target="_blank" href="http://www.bit-pay.com">www.bit-pay.com</a>) account linked to. 
          It will be used by users to send share payments.
        </span>
        <div class="pmf_clear">&nbsp;</div>
        <span class="subtext">
          Note: You can get bitcoins at the following address: 
          <a href="http://lovebitcoins.org/getStarted.html" target="_blank">
            http://lovebitcoins.org/getStarted.html
          </a>
        </span>
      </td>
      <td>
        <%= f.text_field :bitpay_email %>
        <%= display_error_on(project, :bitpay_email) -%>
      </td>
    </tr>

  <% end %>

</table>

<!--div class="dashed_light_border pmf_bottom_margin_20 pmf_top_margin_20">&nbsp;</div>
<h4>Dividends</h4>

<table class="project_form" style="">

  <tr>
    <td>
      What percentage of future
      <br/>dividends are you taking? (0 - 100)%
      <br/><br/>
      <i>
        Note: Any percentages not taken by the producer and shareholders will
        automatically be credited to the PMF Fund
      </i>
    </td>
    <td>NYA</td>
<!--td>
<%= f.text_field :share_percent_ads_producer %>
<%= display_error_on(project, :share_percent_ads_producer) -%>
</td-->
</tr>

<!--tr>
  <td>
    What percentage of <i>your</i> percentage of future
    <br/>dividends are you offering to share holders? (0 - 100)%
  </td>
  <td>NYA</td>
<!--td>
<%= f.text_field :share_percent_ads %>
<%= display_error_on(project, :share_percent_ads) -%>
</td-->
</tr-->

</table-->

<div class="dashed_light_border pmf_bottom_margin_20 pmf_top_margin_20">&nbsp;</div>
<h4>All of these fields can be changed after the project appears in the system by clicking on the 'edit project' button</h4>

<table class="project_form" style="">

  <tr>
    <td>
      Upload a Project Icon:
      <div class="pmf_clear">&nbsp;</div>
      <span class="subtext">Note: your project image must be less than 1 megabyte in size</span>
    </td>
    <td>
      <%= file_column_field( "project", "icon", :size => 15)%>
      <%= display_error_on(project, :icon) -%>
    </td>
  </tr>

  <% unless project.icon.blank? %>
    <tr>
      <td>
        Current Icon:
      </td>
      <td>
        <%= project_icon project, :small %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td>
      How long is your film in minutes?
    </td>
    <td>
      <%= f.text_field :project_length %>
      <%= display_error_on(project, :project_length) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a site address associated with your project
    </td>
    <td>
      <%= f.text_field :web_address %>
      <%= display_error_on(project, :web_address) -%>
    </td>
  </tr>

  <!--tr>
    <td>
      Enter a youtube link for your project
    </td>
    <td>
  <%= f.text_field :youtube_vid_id %>
  <%= display_error_on(project, :youtube_vid_id) %>
    </td>
  </tr>

  <tr>
    <td>
      Enter an address to watch your project
    </td>
    <td>
  <%= f.text_field :watch_url %>
  <%= display_error_on(project, :watch_url) %>
    </td>
  </tr-->

  <tr>
    <td>
      Enter estimated number of weeks needed to complete your project
    </td>
    <td>
      <%= f.text_field :weeks_to_finish %>
      <%= display_error_on(project, :weeks_to_finish) -%>
    </td>
  </tr>

  <tr>
    <td>
      Price per share
    </td>
    <td>
      <input type="hidden" name="project[ipo_price]" value="5"/>$5
    </td>
    <!--td>
    <%= f.text_field :ipo_price, :value => 0 %>
    <%= display_error_on(project, :ipo_price) -%>
    </td-->
  </tr>

  <!--tr>
    <td>
      What percentage of the budget will
      <br/>the producer take as a fee? (0 - 100)%
    </td>
    <td>NYA</td>
  <!--td>
  <%= f.text_field :producer_fee_percent %>
  <%= display_error_on(project, :producer_fee_percent) -%>
  </td-->
</tr-->

<% if !project.new_record? %>
  <tr>
    <td>
      Enter the name of the producer
    </td>
    <td>
      <%= f.text_field :producer_name, :id => "producer_name" %>
      <%= display_error_on(project, :producer_name) -%>
      <br/>
      <div class="talent_select">
        <% if project.producer_project_talents.size < UserTalent.max_talents_allowed %>
          <div class="button_small left">
            <%= link_to_remote "Select", :url => {:controller => "user_talents",
              :action => "talent_select_list", 
              :talent_filter_param => UserTalent.talent_types_map.invert["producer"],
              :project_id => project.id} %>
          </div>
          <div class="talent_select_text">Or select members:</div>
        <% end %>
        <div id="producer_user_talent_container">
          <% project.producer_project_talents.each do |dpt| %>
            <%= render :partial => "project_user_talent_form_field", :locals => {:pt => dpt} %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Describe your project (limited to 140 chars)
    </td>
    <td>
      <%= f.text_field :description, {:size => 30, :maxlength => 140} %>
      <%= display_error_on(project, :description) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter the names of the directors
    </td>
    <td>
      <%= f.text_field :director, :id => "director_name" %>
      <%= display_error_on(project, :director) -%>
      <br/>
      <div class="talent_select">
        <% if project.director_project_talents.size < UserTalent.max_talents_allowed %>
          <div class="button_small left">
            <%= link_to_remote "Select", :url => {:controller => "user_talents",
              :action => "talent_select_list", 
              :talent_filter_param => UserTalent.talent_types_map.invert["director"],
              :project_id => project.id} %>
          </div>
          <div class="talent_select_text">Or select members:</div>
        <% end %>
        <div id="director_user_talent_container">
          <% project.director_project_talents.each do |dpt| %>
            <%= render :partial => "project_user_talent_form_field", :locals => {:pt => dpt} %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the names of the actors
    </td>
    <td>
      <%= f.text_field :director, :id => "director_name" %>
      <%= display_error_on(project, :director) -%>
      <br/>
      <div class="talent_select">
        <% if project.actor_project_talents.size < UserTalent.max_talents_allowed %>
          <div class="button_small left">
            <%= link_to_remote "Select", :url => {:controller => "user_talents",
              :action => "talent_select_list", 
              :talent_filter_param => UserTalent.talent_types_map.invert["actor"],
              :project_id => project.id} %>
          </div>
          <div class="talent_select_text">Or select members:</div>
        <% end %>
        <div id="actor_user_talent_container">
          <% project.actor_project_talents.each do |dpt| %>
            <%= render :partial => "project_user_talent_form_field", :locals => {:pt => dpt} %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the names of the executive producers
    </td>
    <td>
      <%= f.text_field :exec_producer, :id => "exec_producer_name" %>
      <%= display_error_on(project, :exec_producer) -%>
      <br/>
      <div class="talent_select">
        <% if project.exec_producer_project_talents.size < UserTalent.max_talents_allowed %>
          <div class="button_small left">
            <%= link_to_remote "Select", :url => {:controller => "user_talents",
              :action => "talent_select_list", 
              :talent_filter_param => UserTalent.talent_types_map.invert["exec_producer"],
              :project_id => project.id} %>
          </div>
          <div class="talent_select_text">Or select members:</div>
        <% end %>
        <div id="exec_producer_user_talent_container">
          <% project.exec_producer_project_talents.each do |dpt| %>
            <%= render :partial => "project_user_talent_form_field", :locals => {:pt => dpt} %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the names of the writers
    </td>
    <td>
      <%= f.text_field :writer, :id => "writer_name" %>
      <%= display_error_on(project, :writer) -%>
      <br/>
      <div class="talent_select">
        <% if project.writer_project_talents.size < UserTalent.max_talents_allowed %>
          <div class="button_small left">
            <%= link_to_remote "Select", :url => {:controller => "user_talents",
              :action => "talent_select_list", 
              :talent_filter_param => UserTalent.talent_types_map.invert["writer"],
              :project_id => project.id} %>
          </div>
          <div class="talent_select_text">Or select members:</div>
        <% end %>
        <div id="writer_user_talent_container">
          <% project.writer_project_talents.each do |dpt| %>
            <%= render :partial => "project_user_talent_form_field", :locals => {:pt => dpt} %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the names of the editors
    </td>
    <td>
      <%= f.text_field :editor, :id => "editor_name" %>
      <%= display_error_on(project, :editor) -%>
      <br/>
      <div class="talent_select">
        <% if project.editor_project_talents.size < UserTalent.max_talents_allowed %>
          <div class="button_small left">
            <%= link_to_remote "Select", :url => {:controller => "user_talents",
              :action => "talent_select_list", 
              :talent_filter_param => UserTalent.talent_types_map.invert["editor"],
              :project_id => project.id} %>
          </div>
          <div class="talent_select_text">Or select members:</div>
        <% end %>
        <div id="editor_user_talent_container">
          <% project.editor_project_talents.each do |dpt| %>
            <%= render :partial => "project_user_talent_form_field", :locals => {:pt => dpt} %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the names of the DOPs
    </td>
    <td>
      <%= f.text_field :director_photography, :id => "director_photography_name" %>
      <%= display_error_on(project, :director_photography) -%>
      <br/>
      <div class="talent_select">
        <% if project.director_photography_project_talents.size < UserTalent.max_talents_allowed %>
          <div class="button_small left">
            <%= link_to_remote "Select", :url => {:controller => "user_talents",
              :action => "talent_select_list", 
              :talent_filter_param => UserTalent.talent_types_map.invert["director_photography"],
              :project_id => project.id} %>
          </div>
          <div class="talent_select_text">Or select members:</div>
        <% end %>
        <div id="director_photography_user_talent_container" class="project_talent_container">
          <% project.director_photography_project_talents.each do |dpt| %>
            <%= render :partial => "project_user_talent_form_field", :locals => {:pt => dpt} %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>

<% end %>

<!--tr>
  <td>
    Enter a short synopsis for your project
  </td>
  <td>
<%= f.text_area :synopsis, :cols => 42, :rows => 4 %>
<%= display_error_on(project, :synopsis) -%>
  </td>
</tr>

<tr>
  <td>
    Enter a brief list of cast in your project
  </td>
  <td>
<%= f.text_area :cast, :cols => 42, :rows => 4 %>
<%= display_error_on(project, :cast) -%>
  </td>
</tr-->

<% unless project.main_video.blank? %>
  <tr>
    <td>
      Current Main Video:
    </td>
    <td>
      <%= url_for_file_column(project, "main_video") %>
    </td>
  </tr>
<% end %>

<!--tr>
  <td>
    Upload a Video:
    <br/><br/>
    <i>Note: your project video must be less than 1 megabyte in size</i>
  </td>
  <td>
<%= file_column_field( "project", "main_video", :size => 15)%>
<%= display_error_on(project, :main_video) -%>
  </td>
</tr-->

</table>

<div class="dashed_light_border pmf_bottom_margin_20 pmf_top_margin_20">&nbsp;</div>

<table class="project_form" style="">

  <% if(defined?(include_captcha) && include_captcha) %>
    <tr>
      <td>Enter the words in the box to prove you are human:</td>
      <td colspan="2">
        <div id="captcha_section"><%= recaptcha_tags %></div>
      </td>
    </tr>
  <% end %>

</table>

<input type="submit" class="right" value="Submit"/>
