<%= f.hidden_field :share_percent_downloads, :value => 0 %>

<table class="project_form" style="border-spacing: 10px; width: 100%;">

  <tr><td colspan="2"><%= f.error_messages %></td></tr>

  <tr>
    <td colspan="2">
      <b>All fields marked with * are mandatory</b>
    </td>
  </tr>

  <tr>
    <td>
      * Enter project title
    </td>
    <td>
      <%= f.text_field :title %>
      <%= display_error_on(project, :title) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a site address associated with your project
    </td>
    <td>
      <%= f.text_field :web_address, :value => "http://" %>
      <%= display_error_on(project, :web_address) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a youtube link for your project
    </td>
    <td>
       <%= f.text_field :youtube_vid_id %>
      <%= display_error_on(project, :youtube_vid_id) %>
    </td>
  </tr>

  <tr>
    <td>
      * Funds Needed ($)
      <br/><br/>
      <i>
        This cannot be updated once project reaches the "In Payment" phase.
      </i>
    </td>
    <td>
      <% if project.in_payment? %>
        <%= project.capital_required %>
      <% else %>
        <%= f.text_field :capital_required %>
        <%= display_error_on(project, :capital_required) -%>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>
      Price per share
    </td>
    <td>
      <input type="hidden" name="project[ipo_price]" value="5"/>$5
    </td>
    <!--td>
<%= f.text_field :ipo_price, :value => 0 %>
<%= display_error_on(project, :ipo_price) -%>
    </td-->
  </tr>

  <tr>
    <td>
      What percentage of future
      <br/>dividends are you taking? (0 - 100)%
      <br/><br/>
      <i>
        Note: Any percentages not taken by the producer and shareholders will
        automatically be credited to the PMF Fund
      </i>
    </td>
    <td>NYA</td>
    <!--td>
      <%= f.text_field :share_percent_ads_producer %>
      <%= display_error_on(project, :share_percent_ads_producer) -%>
    </td-->
  </tr>

  <tr>
    <td>
      What percentage of <i>your</i> percentage of future
      <br/>dividends are you offering to share holders? (0 - 100)%
    </td>
    <td>NYA</td>
    <!--td>
      <%= f.text_field :share_percent_ads %>
      <%= display_error_on(project, :share_percent_ads) -%>
    </td-->
  </tr>

  <tr>
    <td>
      What percentage of the budget will
      <br/>the producer take as a fee? (0 - 100)%
    </td>
    <td>NYA</td>
    <!--td>
      <%= f.text_field :producer_fee_percent %>
      <%= display_error_on(project, :producer_fee_percent) -%>
    </td-->
  </tr>

  <tr>
    <td>
      Enter the name of the producer
    </td>
    <td>
      <%= f.text_field :producer_name, :id => "producer_name", :disabled => (project.producer_talent_id ? true : false) %>
      <%= display_error_on(project, :producer_name) -%>
      <br/>
      <div class="talent_select">
        <div class="talent_select_text">Or select member:</div>
        <div class="button_small left">
          <%= link_to_remote "Select", :url => {:controller => "user_talents",
            :action => "talent_select_list", :talent_filter_param => UserTalent.talent_types_map.invert["producer"]} %>
        </div>
        <input id="producer_talent_id" type="hidden" name="project[producer_talent_id]" value=""/>
        <div id="producer_clear_talent_link_container" class="button_small left" <%= (project.producer_talent_id ? "" : "style='display: none;'") %>>
          <%= link_to_function "Clear", "clearTalent('producer');" %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the director
    </td>
    <td>
      <%= f.text_field :director, :id => "director_name", :disabled => (project.director_talent_id ? true : false) %>
      <%= display_error_on(project, :director) -%>
      <br/>
      <div class="talent_select">
        <div class="talent_select_text">Or select member:</div>
        <div class="button_small left">
          <%= link_to_remote "Select", :url => {:controller => "user_talents",
            :action => "talent_select_list", :talent_filter_param => UserTalent.talent_types_map.invert["director"]} %>
        </div>
        <input id="director_talent_id" type="hidden" name="project[director_talent_id]" value=""/>
        <div id="director_clear_talent_link_container" class="button_small left" <%= (project.director_talent_id ? "" : "style='display: none;'") %>>
          <%= link_to_function "Clear", "clearTalent('director');" %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the executive producer
    </td>
    <td>
      <%= f.text_field :exec_producer, :id => "exec_producer_name", :disabled => (project.exec_producer_talent_id ? true : false) %>
      <%= display_error_on(project, :exec_producer) -%>
      <br/>
      <div class="talent_select">
        <div class="talent_select_text">Or select member:</div>
        <div class="button_small left">
          <%= link_to_remote "Select", :url => {:controller => "user_talents",
            :action => "talent_select_list", :talent_filter_param => UserTalent.talent_types_map.invert["exec_producer"]} %>
        </div>
        <input id="exec_producer_talent_id" type="hidden" name="project[exec_producer_talent_id]" value=""/>
        <div id="exec_producer_clear_talent_link_container" class="button_small left" <%= (project.exec_producer_talent_id ? "" : "style='display: none;'") %>>
          <%= link_to_function "Clear", "clearTalent('exec_producer');" %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the writer
    </td>
    <td>
      <%= f.text_field :writer, :id => "writer_name", :disabled => (project.writer_talent_id ? true : false) %>
      <%= display_error_on(project, :writer) -%>
      <br/>
      <div class="talent_select">
        <div class="talent_select_text">Or select member:</div>
        <div class="button_small left">
          <%= link_to_remote "Select", :url => {:controller => "user_talents",
            :action => "talent_select_list", :talent_filter_param => UserTalent.talent_types_map.invert["writer"]} %>
        </div>
        <input id="writer_talent_id" type="hidden" name="project[writer_talent_id]" value=""/>
        <div id="writer_clear_talent_link_container" class="button_small left" <%= (project.writer_talent_id ? "" : "style='display: none;'") %>>
          <%= link_to_function "Clear", "clearTalent('writer');" %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the editor
    </td>
    <td>
      <%= f.text_field :editor, :id => "editor_name", :disabled => (project.editor_talent_id ? true : false) %>
      <%= display_error_on(project, :editor) -%>
      <br/>
      <div class="talent_select">
        <div class="talent_select_text">Or select member:</div>
        <div class="button_small left">
          <%= link_to_remote "Select", :url => {:controller => "user_talents",
            :action => "talent_select_list", :talent_filter_param => UserTalent.talent_types_map.invert["editor"]} %>
        </div>
        <input id="editor_talent_id" type="hidden" name="project[editor_talent_id]" value=""/>
        <div id="editor_clear_talent_link_container" class="button_small left" <%= (project.editor_talent_id ? "" : "style='display: none;'") %>>
          <%= link_to_function "Clear", "clearTalent('editor');" %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Enter the name of the director of photography
    </td>
    <td>
      <%= f.text_field :director_photography, :id => "director_photography_name", :disabled => (project.director_photography_talent_id ? true : false) %>
      <%= display_error_on(project, :director_photography) -%>
      <br/>
      <div class="talent_select">
        <div class="talent_select_text">Or select member:</div>
        <div class="button_small left">
          <%= link_to_remote "Select", :url => {:controller => "user_talents",
            :action => "talent_select_list", :talent_filter_param => UserTalent.talent_types_map.invert["director_photography"]} %>
        </div>
        <input id="director_photography_talent_id" type="hidden" name="project[director_photography_talent_id]" value=""/>
        <div id="director_photography_clear_talent_link_container" class="button_small left" <%= (project.director_photography_talent_id ? "" : "style='display: none;'") %>>
          <%= link_to_function "Clear", "clearTalent('director_photography');" %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Please Select Genre
    </td>
    <td>
      <%= f.select :genre_id, @genres.map {|genre| [genre.title.titlecase, genre.id] }, :id=>"project-genre" %>
      <%= display_error_on(project, :genre_id) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a logline for your project (limited to 140 chars)
    </td>
    <td>
      <%= f.text_field :description, {:size => 30, :maxlength => 140} %>
      <%= display_error_on(project, :description) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a short synopsis for your project
    </td>
    <td>
      <%= f.text_area :synopsis, :cols => 20, :rows => 5 %>
      <%= display_error_on(project, :synopsis) -%>
    </td>
  </tr>

  <tr>
    <td>
      Enter a brief list of cast in your project
    </td>
    <td>
      <%= f.text_area :cast, :cols => 20, :rows => 3 %>
      <%= display_error_on(project, :cast) -%>
    </td>
  </tr>
  <tr>
    <td>
      How long is your film in minutes?
    </td>
    <td>
      <%= f.text_field :project_length %>
      <%= display_error_on(project, :project_length) -%>
    </td>
  </tr>
  <tr>
    <td>
      What is the status of your film?
    </td>
    <td>
      <%= f.select :status, Project.statuses, :id=>"project-status" %>
      <%= display_error_on(project, :status) -%>
    </td>
  </tr>

  <% unless project.icon.blank? %>
    <tr>
      <td>
        Current Icon:
      </td>
      <td>
        <%= project_icon project, :small %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td>
      Upload a Project Icon:
      <br/><br/>
      <i>Note: your project image must be less than 1 megabyte in size</i>
    </td>
    <td>
      <%= file_column_field( "project", "icon", :size => 15)%>
      <%= display_error_on(project, :icon) -%>
    </td>
  </tr>

  <% if(defined?(include_captcha) && include_captcha) %>
    <tr>
      <td>Enter the words in the box to prove you are human:</td>
      <td colspan="2">
        <div id="captcha_section"><%= recaptcha_tags %></div>
      </td>
    </tr>
  <% end %>

  <tr>
    <td colspan="2" align="right">
      <input type="submit" value="Submit"/>
    </td>
  </tr>

</table>