<div class="project_listings">

  <% for @project in listings do %>

      <div class="<%= cycle("view-lite-row", "view-lite-row-alt") %>">

        <div class="view-lite-row-icon">
          <% if !@project.icon.nil? %>
            <%= image_tag url_for_file_column(@project, "icon", "medium") %>
          <% else %>
            <img src="/images/generic-project-icon.png" id="project-icon" height="75px" alt="Generic icon" border="0" />
          <% end %>
        </div>

        <div class="view-lite-row-project-name"><%= link_to h(@project.title), project_path(@project) %></div>

        <!--div class="view-lite-row-user-icon">
    <%= link_to icon(@project.owner.profile, :small), profile_path(@project.owner.profile) %>
              <span><%= link_to @project.owner.profile.user.login, profile_path(@project.owner.profile) %></span>
            </div-->

        <div class="view-lite-row-numbers">
          <ul>
            <li class="label">Admin Rating:</li><li class="stat"><%= @project.admin_project_rating.rating_symbol %></li>
            <li class="pmf_clear">&nbsp;</li>
            <li class="label">Member Rating:</li><li class="stat"><%= @project.member_rating %></li>
            <li class="pmf_clear">&nbsp;</li>
            <li class="label">Funding Required:</li><li class="stat">$<%= @project.capital_required %></li>
            <li class="pmf_clear">&nbsp;</li>
            <li class="label">Percent Funded:</li><li class="stat"><%= @project.percent_funded %>&#37</li>
            <li class="pmf_clear">&nbsp;</li>
          </ul>
        </div>

        <div class="view-lite-row-comment">
          <div class="header">Latest Admin Comment:</div>
          <%=truncate(h(@project.project_comment.body), 100)%>
          (<%= link_to "More", project_path(@project) %>)
        </div>

        <div class="view-lite-row-description">
          <div class="header">Logline:</div>
          <%=truncate(h(@project.description), 100)%>
          (<%= link_to "More", project_path(@project) %>)
        </div>

        <div style="clear:both;"></div>
      </div>

    <% end %>
  </div>
  <div class="pmf_clear">&nbsp;</div>