<div class="fields view-lite-row-description">

  <span class="header">Project Info:</span>
  <span class="body">
    <div class="view-lite-row-numbers">
      <ul>
        <li class="label">Owner:</li><li class="stat"><%= link_to h(project.owner.profile.user.login), profile_path(project.owner.profile) %></li>
        <li class="pmf_clear"></li>
        <li class="label">Funds Needed:</li><li class="stat"><%= print_money project.capital_required %></li>
        <li class="pmf_clear"></li>
        <li class="label">Funds Reserved:</li><li class="stat"><%= print_money project.current_funds %></li>
        <li class="pmf_clear"></li>
        <li class="label">Funds Still Needed:</li><li class="stat"><%= print_money project.funds_needed %></li>
        <li class="pmf_clear"></li>
        <li class="label">% Funded:</li>
        <li class="stat">
          <%= project.percent_funded %>&#37
        </li>
        <li class="pmf_clear"></li>
        <li class="label">% Plank Shares:</li>
        <li class="stat">
          <%= project.percent_bad_shares %>&#37
          (<a class="tooltip_arrow" title="This is the percentage of shares held by plank walkers!">?</a>)
        </li>
        <li class="pmf_clear"></li>
        <li class="label">Daily % Move:</li><li class="stat"><%= number_to_percentage(project.daily_percent_move, :precision => 0) %></li>
        <li class="pmf_clear"></li>
      </ul>
    </div>

    <div class="view-lite-row-numbers">
      <ul>
        <li class="label">Symbol:</li><li class="stat"><%= link_to project.symbol, "#", :title => "#{h project.title}" %></li>
        <li class="pmf_clear"></li>
        <li class="label">Price Per Share:</li><li class="stat"><%= print_money project.ipo_price %></li>
        <li class="pmf_clear"></li>
        <li class="label">Total Shares:</li><li class="stat"><%= project.total_copies.to_i %></li>
        <li class="pmf_clear"></li>
        <li class="label">Shares Available:</li><li class="stat"><%= project.downloads_available %></li>
        <li class="pmf_clear"></li>
        <li class="label">Shares Reserved:</li><li class="stat"><%=h project.downloads_reserved %></li>
        <li class="pmf_clear"></li>
        <li class="label">No. PMF Fund Shares:</li>
        <li class="stat"><%= project.pmf_fund_investment_share_amount %></li>        
        <li class="pmf_clear"></li>
      </ul>
    </div>

    <div class="view-lite-row-numbers">
      <ul>
        <li class="label">PMF Fund Rating:</li><li class="stat"><%= project.admin_rating %></li>
        <li class="pmf_clear"></li>
        <li class="label">Member Rating:</li>
        <li class="stat">
          <%= project.member_rating %>
        </li>
        <li class="pmf_clear"></li><li class="label">Project Length:</li><li class="stat"><%=h project.project_length %> mins</li>
        <li class="pmf_clear"></li>
        <li class="label">Genre:</li><li class="stat"><%=  h project.genre.title %></li>
        <li class="pmf_clear"></li>
        <li class="label">Project Status:</li><li class="stat"><%= project.status %></li>
        <li class="pmf_clear"></li>
        <li class="label">Date Created:</li><li class="stat"><%= project.created_at.strftime('%d/%m/%Y') %></li>
        <li class="pmf_clear"></li>
        <li class="label">Estimated Completion:</li><li class="stat"><%= pluralize project.weeks_to_finish, "Week" %></li>
        <li class="pmf_clear"></li>
      </ul>
    </div>

    <div class="pmf_clear">&nbsp;</div>

  </span>
</div>