<div class="fields view-lite-row-description">

  <span class="header">Project Dividends:</span>
  <span class="body">
    <div class="view-lite-row-numbers">
      <ul>
        <li class="label">
          Producer Dividend:
        </li>
        <li class="stat">
          <%= print_money project.producer_dividend %>
          (<a class="tooltip_arrow" title="This is the estimated producer
              return per $1000 of ad sales.">?</a>)
        </li>
        <li class="pmf_clear"></li>
        <li class="pmf_clear"></li><li class="label">
          PMF Fund Dividend:
        </li>
        <li class="stat">
          <%= print_money project.fund_dividend %>
          (<a class="tooltip_arrow" title="This is the estimated pmf fund
              return per $1000 of ad sales.">?</a>)
        </li>
      </ul>
    </div>

    <div class="view-lite-row-numbers">
      <ul>
        <li class="label">
          &#37; PMF Fund:
        </li>
        <li class="stat">
          <%= project.capital_recycled_percent %>%
          (<a class="tooltip_arrow" title="This fund is used to invest (top up)
              existing projects at the discretion of PMF.">?</a>)
        </li>
        <li class="pmf_clear"></li>
      </ul>
    </div>

    <div class="view-lite-row-numbers">
      <ul>
        <li class="label">Share Dividend:</li>
        <li class="stat">
          <%= print_money project.shareholder_dividend %>
          (<a class="tooltip_arrow" title="This is the estimated shareholder
              return per $1000 of ad sales.">?</a>)
        </li>
        <li class="pmf_clear"></li>
        <li class="label">&#37; Shares:</li>
        <li class="stat">NYA</li>
        <!--li class="stat">
        <%= project.share_percent_ads %>&#37;
          (<a class="tooltip_arrow" title="This is a percentage of the producers
              take (above) that will go to the shareholders.">?</a>)
        </li-->
        <li class="pmf_clear"></li>
      </ul>
    </div>

    <div class="pmf_clear">&nbsp;</div>

  </span>
</div>