<div class="fields view-lite-row-description">

  <span class="header">Project Talent:</span>
  <span class="body">
    <div class="talent_fields">

      <div class="view-lite-row-numbers">
        <ul>
          <li class="label">Producers:</li><li class="stat"><%= producers_for project %></li>
          <li class="pmf_clear"></li>
          <li class="label">DOPs:</li><li class="stat"><%= directors_photography_for project %></li>
          <li class="pmf_clear"></li>
          <li class="label">Exec Producers:</li><li class="stat"><%= exec_producers_for project %></li>
          <li class="pmf_clear"></li>
        </ul>
      </div>

      <div class="view-lite-row-numbers">
        <ul>
          <li class="label">Directors:</li><li class="stat"><%= directors_for project %></li>
          <li class="pmf_clear"></li>
          <li class="label">Writers:</li><li class="stat"><%= writers_for project %></li>
          <li class="pmf_clear"></li>
          <li class="label">Editors:</li><li class="stat"><%= editors_for project %></li>
          <li class="pmf_clear"></li>
        </ul>
      </div>

      <div class="pmf_clear">&nbsp;</div>

    </div>
  </span>
</div>