<%
project_link_controller ||= "projects"
project_link_action ||= "show"
%>

<div class="project_mini_view">

  <div class="project_share_buttons">

    <div class="tweet_button">
      <a href="http://twitter.com/share?url=<%= url_encode(project_url(@project)) %>&via=piratemyfilm&text=Check out this project on PMF! <%= @project.title %>"
         class="twitter-share-button" data-count="horizontal" data-related="piratemyfilm">
        Tweet
      </a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>

    <div class="facebook_button">
      <a name="fb_share" type="button_count" share_url="<%= project_url(@project) %>"
         href="http://www.facebook.com/sharer.php">Share</a>
      <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    </div>

    <div class="facebook_like_button">
      <iframe src="http://www.facebook.com/plugins/like.php?href=<%= url_encode(project_url(@project)) %>&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;colorscheme=light&amp;height=21"
              scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;"
              allowTransparency="true">
      </iframe>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <% if !project.finished_payment_collection %>
      <div class="green_light">
        Green Light:
        <span class="<%= project.green_light ? "on" : "off" %>">
          <%= project.green_light ? "On" : "Off" %>
        </span>
      </div>
    <% end %>
  </div>

  <% if project.finished_payment_collection %>
    Project Fully Funded For <%= print_money project.capital_required %>!
    <% if project.premier_date %>
      Premier Date: <%= project.premier_date.to_s(:short) %>
    <% end %>
    <a href="<%= watch_project_url project %>">Watch Film Here</a>
  <% end %>

  <div class="project_icon">
    <%= link_to project_icon(project, :big), project_path(project) %>
    <div class="follow_button">
      <%= follow_project_button_small project %>
    </div>
  </div>

  <div class="project_info">
    <div class="project_title">
      <%= link_to h(truncate(project.title, 30)), :controller => project_link_controller,
        :action => project_link_action, :id => project %>
    </div>
    <!--div class="edit_link">
      <%= small_view_edit_link project %>
    </div>
    <div class="link_arrow">
      <%= link_to image_tag("right_arrow.png"), :controller => project_link_controller,
        :action => project_link_action, :id => project %>
    </div-->

    <div class="user_info">
      <div class="owned_by">Owned By: </div>
      <div class="user_icon">
        <%= icon(project.owner.profile, :small) %>
      </div>
      <div class="user_name">
        <%= link_to h(project.owner.login), profile_path(project.owner.profile) %>
      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="project_stats">
      <div class="funds_needed">
        <span><%= print_money project.capital_required %></span> needed
      </div>
      <div class="percent_funded">
        <span><%= project.percent_funded_with_pmf_fund_non_outstanding %>&#37</span> funded
      </div>
    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="project_extra_info">
    <%= subscription_info project %>
  </div>

</div>