<%
project_link_controller ||= "projects"
project_link_action ||= "show"
%>

<div class="<%= cycle("view-lite-row", "view-lite-row-alt") %>">

  <div class="view-lite-row-project-name">
    <%= link_to h(project.title), :controller => project_link_controller,
      :action => project_link_action, :id => project %>
    <span class="link_arrow">
      <%= link_to image_tag("right_arrow.png"), project_path(project) %>
    </span>

    <div class="project_extra_info">
      <%= subscription_info project %>
    </div>
  </div>

  <div class="view-lite-row-project-green-light">
    Green Light:
    <span class="<%= project.green_light ? "on" : "off" %>">
      <%= project.green_light ? "On" : "Off" %>
    </span>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-icon">
    <%= project_icon project, :big %>
    <div class="follow_button">
      <%= follow_project_button project %>
    </div>
  </div>

  <div class="view-lite-row-words">
    <ul>
      <li class="label">Symbol:</li><li class="stat"><%= h project.symbol %></li>
      <li class="pmf_clear"></li>
      <li class="label">Owner:</li><li class="stat"><%= link_to h(project.owner.profile.user.login), profile_path(project.owner.profile) %></li>
      <li class="pmf_clear"></li>
      <li class="label">Producer:</li><li class="stat"><%= producer_for project %></li>
      <li class="pmf_clear"></li>
      <li class="label">Exec Producer:</li><li class="stat"><%= exec_producer_for project %></li>
      <li class="pmf_clear"></li>
      <li class="label">Director:</li><li class="stat"><%= director_for project %></li>
      <li class="pmf_clear"></li>
      <li class="label">Writer:</li><li class="stat"><%= writer_for project %></li>
      <li class="pmf_clear"></li>
      <li class="label">Editor:</li><li class="stat"><%= editor_for project %></li>
      <li class="pmf_clear"></li>
      <li class="label">Cinematographer:</li><li class="stat"><%= director_photography_for project %></li>
      <li class="pmf_clear"></li>
      <li class="label">Genre:</li><li class="stat"><%=  h project.genre.title %></li>
      <li class="pmf_clear"></li>
      <li class="label">Project Status:</li><li class="stat"><%= project.status %></li>
      <li class="pmf_clear"></li>
    </ul>
  </div>

  <div class="view-lite-row-numbers">
    <ul>
      <li class="label">PMF Fund Rating:</li><li class="stat"><%= project.admin_rating %></li>
      <li class="pmf_clear"></li>
      <li class="label">Member Rating:</li>
      <li class="stat">
        <%= project.member_rating %>
      </li>
      <li class="pmf_clear"></li><li class="label">Project Length:</li><li class="stat"><%=h project.project_length %> mins</li>
      <li class="pmf_clear"></li>
      <li class="label">% Producer:</li>
      <li class="stat">NYA</li>
        <!--li class="stat">
        <%= project.share_percent_ads_producer %>%
        (<a class="tooltip_arrow" title="The producer will take this percentage of the advertisement revenue.
            The remaining percent will go to the PMF Fund (see below)">?</a>)
      </li-->
      <li class="pmf_clear"></li>
      <li class="label">% Shares:</li>
      <li class="stat">NYA</li>
      <!--li class="stat">
        <%= project.share_percent_ads %>%
        (<a class="tooltip_arrow" title="This is a percentage of the producers
            take (above) that will go to the shareholders.">?</a>)
      </li-->
      <li class="pmf_clear"></li>
      <li class="label">
        % PMF Fund:
      </li>
      <li class="stat">
        <%= project.capital_recycled_percent %>%
        (<a class="tooltip_arrow" title="This fund is used to invest (top up)
            existing projects at the discretion of PMF.">?</a>)
      </li>
      <li class="pmf_clear"></li>
      <li class="pmf_clear"></li>
      <li class="label">
        Producer Dividend:
      </li>
      <li class="stat">
        <%= print_money project.producer_dividend %>
        (<a class="tooltip_arrow" title="This is the estimated producer
            return per $1000 of ad sales.">?</a>)
      </li>
      <li class="pmf_clear"></li>
      <li class="label">Share Dividend:</li>
      <li class="stat">
        <%= print_money project.shareholder_dividend %>
        (<a class="tooltip_arrow" title="This is the estimated shareholder
            return per $1000 of ad sales.">?</a>)
      </li>
      <li class="pmf_clear"></li>
      <li class="label">
        PMF Fund Dividend:
      </li>
      <li class="stat">
        <%= print_money project.fund_dividend %>
        (<a class="tooltip_arrow" title="This is the estimated pmf fund
            return per $1000 of ad sales.">?</a>)
      </li>
      <li class="pmf_clear"></li>
      <li class="label">
        % Producer Fee:
      </li>
      <li class="stat">NYA</li>
      <!--li class="stat">
        <%= project.producer_fee_percent %>%
        (<a class="tooltip_arrow" title="This is a % of the budget
            that the producer will take as an initial fee">?</a>)
      </li-->
    </ul>
  </div>

  <div class="view-lite-row-numbers">
    <ul>
      <li class="label">Funds Needed:</li><li class="stat"><%= print_money project.capital_required %></li>
      <li class="pmf_clear"></li>
      <li class="label">Funds Reserved:</li><li class="stat"><%= print_money project.current_funds %></li>
      <li class="pmf_clear"></li>
      <li class="label">Funds Still Needed:</li><li class="stat"><%= print_money project.funds_needed %></li>
      <li class="pmf_clear"></li>
      <li class="label">% Funded:</li><li class="stat"><%= project.percent_funded %>&#37</li>
      <li class="pmf_clear"></li>
      <li class="label">Price Per Share:</li><li class="stat"><%= print_money project.ipo_price %></li>
      <li class="pmf_clear"></li>
      <li class="label">Total Shares:</li><li class="stat"><%= project.total_copies.to_i %></li>
      <li class="pmf_clear"></li>
      <li class="label">Shares Available:</li><li class="stat"><%= project.downloads_available %></li>
      <li class="pmf_clear"></li>
      <li class="label">Shares Reserved:</li><li class="stat"><%=h project.downloads_reserved %></li>
      <li class="pmf_clear"></li>
      <li class="label">No. PMF Fund Shares:</li>
      <li class="stat"><%= project.pmf_fund_investment_share_amount %></li>
      <li class="label">% PMF Fund Shares:</li>
      <li class="stat"><%= project.pmf_fund_investment_percentage %>%</li>
    </ul>
  </div>
</div>