<div id="subscription_buttons">
  <% if logged_in %>

    <h2>Shareholder Info</h2>

    <% if allowed_reserve_shares %>
      <% if @project.in_payment? or @project.finished_payment_collection %>

        <% if @project.finished_payment_collection %>
          <p>
            This project has successfully finished collecting funds. 
            You own <%= @u.completed_subscription_payment_amount @project %> share worth
            <%= print_money @u.completed_subscription_payment_dollar_amount @project %>. 
            Your dividends will be managed by the producer, who will be in touch.
          </p>

          <div class="pmf_clear_10">&nbsp;</div>

        <% end %>

        <%= render :partial => "/projects/in_payment_info" %>

        <div class="pmf_clear_10">&nbsp;</div>

      <% else %>
        <%= render :partial => "/projects/reserve_share_section" %>
      <% end %>
    <% else %>
      <h4>As the owner of this project, you cannot reserve shares!</h4>
    <% end %>
  <% else %>

    <h2>Reserve Shares</h2>

    <div class="reservation_form_container">
      <form method="post" action="<%= project_project_subscriptions_path(@project)-%>" class="left">
        <div class="controls">
          <%= submit_tag "Reserve Shares" %>
        </div>
      </form>
    </div>

    <div class="pmf_clear_10">&nbsp;</div>

  <% end %>
</div>