<p>
  <% form_tag :controller => "projects", :action => "filter_by_param" do %>
   <%= select_tag :filter_param, options_for_select(@filter_params, "Order Projects By..."), :onchange => "this.form.submit();" %>
  <% end %>
</p>

<div id="MENU_HEADER" class="pageTitle">
  <%= @filtered ? "Projects filtered by \"#{@filter_param}\"" : "Newest Project Listings" %>
</div>

<div style="clear:both;"></div><hr/>

<%= link_to "View Producer Blogs", {:controller => "/producer_blogs"}, :class => "subnav_inactive" %> |
<%= link_to "View PMF Project Comments", {:controller => "projects", :action => "recently_rated"}, :class => "subnav_inactive" %>

<div style="clear:both;"></div>

<%= render :partial => "listings", :object => @projects %>

<%= pagination_controls_for @projects if @projects.respond_to? :total_pages %>

<div style="float: right;">
  <%= link_to "List a Project", new_project_path %>|
  <%= link_to "All Projects", projects_path %>
</div>