<p>
  <% form_tag :action => "filter_by_param" do %>
    <%= select_tag :filter_param, options_for_select(@filter_params, "filter by:"), :onchange => "this.form.submit();" %>
  <% end %>
</p>

<div id="MENU_HEADER" class="pageTitle">
  <%= @filtered ? "Projects filtered by \"#{@filter_param}\"" : "Newest Project Listings" %>
</div>

<div style="clear:both;"></div><hr/>

<%= link_to "View Project Comments", :controller => "projects", :action => "recently_rated" %> |
<%= link_to "View Blogs and Project Comments", :controller => "home", :action => "index" %>

<div style="clear:both;"></div>

<%= render :partial => "projects/listings", :object => @projects %>

<%= pagination_controls_for @projects if @projects.respond_to? :total_pages %>

<div style="float: right;">
  <%= link_to "List a Project", new_project_path %>|
  <%= link_to "All Projects", projects_path %>
</div>