<div id="MENU_HEADER" class="pageTitle">Search Results for <%= h @search_string %> </div>

<%= render :partial => "projects/listings", :object => @results %>

<%= pagination_controls_for @results if @results.respond_to? :total_pages %>

<div style="float: right;">
  <%= link_to "List a Project", new_project_path %>|
  <%= link_to "All Projects", projects_path %>
</div>