<div class="pageTitle">Member Shares</div>

<div class="pageTitleSmaller">
  For Project: <%= link_to h(@project.title), project_path(@project) %>
</div>

<div class="pmf_clear">&nbsp;</div>

<div class="pageTitleSmall">
  Important
</div>

<p class="bold font13">
  Once this project has been given a green light, the payment procedure will begin. 
  Users will start to receive notifications to pay for shares.
</p>

<div class="pmf_clear">&nbsp;</div>

<div id="share_queue">

  <% if @project.current_payment_window %>
    <div class="window_info">
      <p>
        The current payment window will close:
        <%= @project.current_payment_window.close_date.to_s(:short) %>
      </p>
    </div>
  <% end %>

  <div class="pmf_clear">&nbsp;</div>

  <div id="queue_header">
    <div class="icon_header">User</div>
    <div class="name_header">&nbsp;</div>
    <div class="subscription_amount_header">Amount</div>
    <div class="subscription_status_header">Status</div>
    <div class="pmf_clear">&nbsp;</div>
  </div>
  <div class="pmf_clear">&nbsp;</div>

  <% @project_subscribers.each do |subscriber| %>
    <div class="<%= cycle('odd','even') %> subscription">
      <div class="icon"><%= icon subscriber.profile, :small %></div>
      <div class="name">
        <%= link_to h(subscriber.profile.f), profile_path(subscriber.profile) %>
        (<%= subscriber.membership_type.name %>)
      </div>
      <div class="subscription_amount">
        <%= @project.user_subscription_amount subscriber %>
      </div>
      <div class="subscription_payment_status">
        <%= subscriber.subscription_payments.find_by_project_id(@project.id).status %>
      </div>

      <div class="pmf_clear">&nbsp;</div>

    </div>
  <% end %>
</div>