<% if @project.is_deleted %>
  <h3>
    This Project was deleted on <%= @project.deleted_at %>
    <br/><br/>
    <%= link_to "Restore This Project", :controller => "projects", :action => "restore", :id => @project %>
  </h3>
<% end %>

<div id="project-overview">        

  <div class="project-overview-buttonszone">

    <div class="project-overview-button" style="width:250px;">
      <span>Project title</span>
      <p><%=h @project.title%></p>
    </div>

    <div class="project-overview-button">
      <span>Project ID</span>
      <p><%= @project.id %></p>
    </div>

    <div class="project-overview-button">
      <span>Project Status</span>
      <p><%= @project.status %></p>
    </div>

    <div class="project-overview-button">
      <span>Member Rating</span>
      <p>
        <%= @user_rating %>
        <% if logged_in && !@my_project_rating %>
          <a href="#user_rating">(Rate)</a>
        <% end %>
      </p>
    </div>

    <div class="project-overview-button">
      <span>PMF Rating</span>
      <p>
        <%= @admin_rating %>
        <% if_admin do %>
          <a href="#admin_rating">(Rate)</a>
        <% end %>
      </p>
    </div>

  </div>

  <div class="project-overview-buttonszone">

    <div class="project-overview-button" style="width:250px;">
      <span>Project Owner</span>
      <p><%= link_to h(@project.owner.profile.user.login), profile_path(@project.owner.profile) %></p>
    </div>

    <div class="project-overview-button">
      <span>Funds Needed</span>
      <p>$<%=h @project.capital_required%></p>
    </div>

    <div class="project-overview-button">
      <span>Percent Funded</span>
      <p>
        <%= @project.percent_funded %>
      </p>
    </div>

    <div class="project-overview-button">
      <span>Premium Copies Reserved</span>
      <p><%= @project.downloads_reserved %></p>
    </div>

    <div class="project-overview-button">
      <span>Premium Copies Available</span>
      <p><%=h @project.downloads_available %></p>
    </div>

  </div>
</div>

<div class="left">
  <%= render :partial => "subscription_buttons" %>

  <% if !logged_in %>
    You must <%= link_to "Log In", login_path %> in order to reserve premium copies.
  <% end %>
</div>

<div class="pmf_clear"></div>

<% if !@project.is_deleted %>
  <div class="right">
    <% if @u and @project.owner == @u %>
      <%= link_to "Edit Project", edit_project_path(@project) %> |
    <% end %>

    <% if @u and (@project.owner == @u || @u.is_admin) %>
      <%= link_to "Delete Project", :controller => "projects", :action => "delete", :id => @project %> |
    <% end %>

    <%= link_to "All Projects", projects_path %> |
    <%= link_to "Invite My Friend to Reserve This Project (NYA)", "#" %>
  </div>
<% end %>

<div style="clear: both;"></div>
<hr>



<% if_admin do %>
  <a name="admin_rating">&nbsp;</a>
<% end %>


<% form_tag :controller => "admin/project_rating", :action => "rate", :project_id => @project.id do %>
  <fieldset>
    <legend><span>PMF Rating</span></legend>
    <ol>
      <li>
        <label>Current Rating</label>
        <%= @admin_rating %>
      </li>

      <% if @admin_comment && !@admin_comment.body.empty? %>
        <li>
          <label>Comment added by <%= @admin_comment.user.login %> :</label>
          <%= @admin_comment.body %>
        </li>
      <% end %>


      <% if_admin do %>
        <li id="comment">
          <% if @admin_comment && !@admin_comment.body.empty? %>
            <label>Edit Comment</label>
            <%= text_area_tag :body, @admin_comment.body, :size => "45x5" %>
          <% else %>
            <label>Add Comment</label>
            <%= text_area_tag :body, nil, :size => "45x5" %>
          </li>
        <% end %>

        <% if_admin do %>
          <li>
            <label>Set Rating</label>
            <%= select_tag  "rating", options_for_select(@admin_rating_select_opts) %>
            <%= submit_tag "Submit" %>
          </li>
        <% end %>
      <% end %>

    </ol>
  </fieldset>
<% end %>

<a name="user_rating">&nbsp;</a>

<% form_tag :controller => "project_rating", :action => "rate", :project_id => @project.id do %>
  <fieldset>
    <legend><span>Member Rating</span></legend>
    <ol>
      <li>
        <label>Current Rating</label>
        <%= @user_rating %>
      </li>

      <% if logged_in %>
        <li>
          <label>Your Rating</label>
          <% if @my_project_rating %>
            <%= @my_project_rating.rating %>
          <% else %>
            <%= select_tag  "rating", options_for_select(@rating_select_opts) %>
            <input type="submit" name="submit" value="Submit"/>
          <% end %>
        </li>
      <% end %>

    </ol>
  </fieldset>
<% end %>

<form action="#">
  <!--fieldset>

    <legend><span>Video</span></legend>
    <ol>
      <li>
        if !@project.youtube_vid_id.nil? and !@project.youtube_vid_id.empty?
           render :partial => "shared/youtube_embed", :locals => { :vid_id => @project.youtube_vid_id, :width => "570", :height => "351" }
        else
          No Video Id has been assigned to this project.
         end
      </li>
    </ol>

  </fieldset-->
  <fieldset>
    <legend><span>Project Information</span></legend>

    <ol>
      <li>
        <label>
          <% if !@project.icon.nil? %>
            <%= image_tag url_for_file_column(@project, "icon", "medium") %>
          <% else %>
            <img src="/images/generic-project-icon.png" id="project-icon" height="75px" alt="Generic icon" border="0" />
          <% end %>
        </label>
      </li>

      <li><label>Project title</label><%=h @project.title%></li>
      <li><label>Price per premium copy</label><%= @project.ipo_price %></li>
      <li><label>Project web site</label><a href="<%=h @project.web_address %>" target="_blank"><%=h @project.web_address %></a></li>
      <li><label>Funds Needed</label>$<%=h @project.capital_required%></li>

      <li><label><b>Pirate Yield</b></label>&nbsp;
        <ul>
          <li>
            <label>
              Percentage of pirate copy ad sales
              <br>offered to premium copy buyers
            </label>
            <%= @project.share_percent_ads %>%
          </li>

          <li>
            <label>
              Length of time producer is offering ad sales returns (in months)
            </label>
            NYA
          </li>

          <li>
            <label>
              Can you recoup first on ad sales?
            </label>
            NYA
          </li>
        </ul>
      </li>

      <li><label><b>Other Sources Of Revenue</b></label>&nbsp;
      <ul>
        <li>
          <label>
            Percentage of future download sales
            <br>offered to premium copy buyers
          </label>
          <%= @project.share_percent_downloads %>%
        </li>

        <li>
          <label>
            Length of time producer is offering download sales returns (in months)
          </label>
          NYA
        </li>

        <li>
          <label>
            Can you recoup first on download sales?
          </label>
          NYA
        </li>
      </ul>

      <li><label>Producer name</label><%=h @project.producer_name%></li>
      <li><label>Genre</label><%=h @project.genre.title %></li>
      <li><label>Logline</label><%=h @project.description %></li>
      <li><label>Synopsis</label><%=h @project.synopsis %></li>
      <li><label>Cast</label><%=h @project.cast %></li>
      <li><label>Project Length (in minutes)</label><%=h @project.project_length %></li>
      <li><label>Status</label><%=h @project.status %></li>
      <li><label>Project under Creative Commons Licence?</label>NYA</li>
      <li><label>Producer Fee</label>NYA</li>

    </ol>
  </fieldset>

</form>

<form action="#">
  <fieldset>

    <legend><span>Premium Copies</span></legend>

    <ol>
      <li><label>Total Premium Copies</label><%=h @project.total_copies.to_i %></li>
      <li><label>Premium Copies Available</label><%=h @project.downloads_available %></li>
      <li><label>Premium Copies Reserved</label><%=h @project.downloads_reserved %></li>
      <li><label>Percent funded</label><%=h @project.percent_funded %>&#37</li>
    </ol>
  </fieldset>

  <fieldset>

    <legend><span>Estimated Returns Per Premium Copy</span></legend>

    <ol>
      <li><label><b>Pirate Yield</b></label>&nbsp;
      <ul>
        <li>
          <label>Return per premium copy per $100000 ad revenue:</label>
          $<%= @return_premium_ads %>
        </li>
        <li><label>Breakeven Point:</label>$<%= @breakeven_premium_ads.to_i %> Ad Revenue</li>
        <li>
          <label>
            Producer return per pirated copy per $100000 ad revenue
          </label>
          $<%= @producer_return_premium_ads %>
        </li>
      </ul>
      <li><label><b>Other Sources Of Revenue</b></label>&nbsp;
      <ul>
        <li>
          <label>
            Return per permium copy per per 100000 retailed copies
            (Assuming $<%= @premium_price_assumption.to_i %> per copy):
          </label>
          $<%= @return_premium_sales %>
        </li>
        <li><label>Breakeven Point</label><%= @breakeven_premium_sales.to_i %> Copies</li>
        <li>
          <label>
            Producer return per <%= @return_premium_sales_based_on %> retailed copies
            (Assuming $<%= @premium_price_assumption.to_i %> per copy):
          </label>
          $<%= @producer_return_premium_sales %>
        </li>
      </ul>
    </ol>
  </fieldset>

</form>

<div class="right">
  <% if @u and @project.owner == @u %>
    <%= link_to "Edit Project", edit_project_path(@project) %> |
  <% end %>
  <%= link_to "List a Project", new_project_path %> |
  <%= link_to "All Projects", projects_path %>
</div>

<div class="pageTitle">Members Reserving Copies</div>
<hr>

<div style="width: 100%">
  <% for s in @project.subscribers do %>
      <div class="user-icon">
        <%= link_to icon(s.profile, :small), profile_path(s.profile) %>
        <span><%= link_to s.profile.user.login, profile_path(s.profile) %></span>
      </div>
    <% end %>
  </div>