<% content_for :head do %>
  <meta name="title" content="<%= @project.symbol %>" />
  <meta name="description" content="<%= @project.description %>" />
  <link rel="image_src" href="http://www.piratemyfilm.com<%= project_icon_path @project, :big %>" />
  <%= render :partial => "og_tags", :locals => {:project => @project} %>
<% end %>

<div id="project_show">

  <div class="pageTitle"><%= h @project.title %></div>

  <div class="project_action_links">

    <div class="left button">
      <%= link_to "Invite Friends", invite_friends_project_path(@project) %>
    </div>

    <%= share_queue_link @project %>

    <% if owner_or_admin? %>
      <%= edit_project_link @project %>
      <%= fund_collection_link @project %>
  <%#= yellow_light_link @project %>
    <% end %>

    <%= flag_project_link @project %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="left">
    <%= render :partial => "subscription_buttons" %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="dashed_light_border">&nbsp;</div>

  <%= render :partial => "project_top", :locals => {:project => @project} %>

  <div class="pmf_clear">&nbsp;</div>

  <div class="dashed_light_border">&nbsp;</div>

  <%= render :partial => "project_fields", :locals => {:project => @project} %>

  <div class="pmf_clear">&nbsp;</div>

  <%= render :partial => "project_talents", :locals => {:project => @project} %>

  <div class="pmf_clear">&nbsp;</div>

  <div id="project_blogs">
    <h3>Latest Project Buzz</h3>

    <div class="dashed_light_border">&nbsp;</div>

    <% if @project_blogs.empty? %>
      No Buzz Found!
      <div class="pmf_clear">&nbsp;</div>
    <% else %>
      <% @project_blogs.each do |blog| %>
        <%= render :partial => "/blogs/templates/buzz", :locals => {:blog => blog} %>
      <% end %>
    <% end %>

    <div class="pmf_clear pmf_top_margin_5">&nbsp;</div>

    <div class="button_small right">
      <%= link_to "All Buzz For This Project", {:controller => "projects", :action => "blogs", :id => @project.id} %>
    </div>
  </div>

  <div class="view-lite-row-description">
    <span class="header">Project Logline:</span>
    <span class="body">
      <%= h @project.description %>
    </span>
  </div>

  <% if @project.latest_project_comment %>
    <div class="pmf_clear">&nbsp;</div>

    <div class="view-lite-row-description">
      <span class="header">
        <a name="pmf_comment">
          Latest PMF Fund Project Comment:
        </a>
      </span>

      <div class="top_share_buttons">
        <div class="tweet_button">
          <a href="http://twitter.com/share?url=<%= url_encode(url_for(:only_path => false,
              :controller => "project_comments", :action => "show",
                 :id => @project.latest_project_comment.id, :anchor => "pmf_comment")) %>&via=piratemyfilm&text=New Comment on Project: <%= @project.symbol %>"
             class="twitter-share-button"data-count="vertical" data-related="piratemyfilm">
            Tweet
          </a>
          <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>

        <div class="facebook_button">
          <a name="fb_share" type="box_count" share_url="<%= url_for :only_path => false,
               :controller => "project_comments", :action => "show", :id => @project.latest_project_comment.id %>"
             href="http://www.facebook.com/sharer.php">Share</a>
          <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
        </div>
      </div>

      <span class="body">
        <%= h @project.latest_project_comment.body %>
      </span>
    </div>
  <% end %>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-description latest_blog">
    <span class="header">Latest Project Buzz:</span>
    <% if @latest_project_blog %>
      <span class="date"><%= time_ago_in_words @latest_project_blog.created_at %> ago</span>
      <span class="body">
        <%= h(truncate(@latest_project_blog.body, 50)) %>
        <%= link_to "...(more)", {:controller => "blogs", :action => "show", :id => @latest_project_blog.id} unless @latest_project_blog.body.length < 51 %>
      </span>
      <!--span class="comments_link"><%= link_to "#{pluralize(@latest_project_blog.num_comments, "comment")}", :controller => "blogs", :action => "show", :id => @latest_project_blog.id %></span-->
    <% else %>
      <span class="body">No Buzz Found!</span>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-description">
    <span class="header">Synopsis:</span>
    <span class="body">
      <%=h @project.synopsis %>
    </span>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-description">
    <span class="header">Cast:</span>
    <span class="body">
      <%=h @project.cast %>
    </span>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-description">
    <span class="header">Site Address:</span>
    <span class="body">
      <a href="<%=h @project.web_address %>" target="_blank"><%=h @project.web_address %></a>
    </span>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <% if @project.youtube_vid_id and !@project.youtube_vid_id.blank? %>
    <div id="project_youtube_vid">
      <h3>Youtube Video</h3>
      <div class="container">
        <iframe align="center" title="YouTube video player" width="400" height="300"
                src="http://www.youtube.com/embed/<%= @project.youtube_vid_id_stripped %>"
                frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  <% end %>

  <div id="project_comments">
    <h3>Latest Project Comments</h3>
    <% if @project_comments %>
      <%= render :partial => 'project_comments/comments', :locals => {:project_comments => @project_comments} %>
    <% else %>
      No Comments Found!
    <% end %>    
  </div>

  <% if_admin do %>
    <% form_for  @project, :url => {:action => "update_symbol", :id => @project.id} do |f| %>
      <fieldset>
        <div class="header">Project Symbol</div>
        <div class="subheader">
          <b>Note:</b> Symbol must be 5 characters long and
          must consist of all letters
        </div>
        <ol>
          <li>
            <label>Enter a symbol for project</label>
            <%= f.text_field :symbol, {:size => 30, :maxlength => 5} %>
            <%= display_error_on(@project, :symbol) -%>
            <%= submit_tag "Submit" %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  <% end %>

  <% if_admin do %>
    <% form_tag :controller => "admin/project_rating", :action => "rate", :project_id => @project.id do %>
      <fieldset>
        <div class="header">PMF Fund Rating</div>
        <ol>
          <li id="comment">
            <label>Add a Comment</label>
            <%= text_area_tag :body, nil, :size => "45x5" %>
          </li>
          <li>
            <label>Set Rating</label>
            <%= select_tag  "rating", options_for_select(@admin_rating_select_opts, @selected_admin_rating) %>
            <%= submit_tag "Submit" %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  <% end %>

  <div class="pmf_clear">&nbsp;</div>

  <a name="user_rating">&nbsp;</a>

  <% form_tag :controller => "project_rating", :action => "rate", :project_id => @project.id do %>
    <fieldset>
      <div class="header">Member Rating</div>
      <div class="subheader"><b>Note:</b> You can only change your rating once per day</div>
      <ol>
        <li><label>Member Rating:</label><%= @project.user_rating %></li>
        <% if logged_in %>
          <% if @my_project_rating %>
            <li>
              <label>Your current rating:</label>
              <%= @my_project_rating.rating %>
            </li>
          <% end %>
          <% if @allowed_to_rate %>
            <li>
              <label>Set Your Rating:</label>
              <%= select_tag "rating", options_for_select(@rating_select_opts, @selected_my_project_rating) %>
              <input type="submit" name="submit" value="Submit"/>
            </li>
          <% end %>
        <% else %>
          <li>
            <label>You must <%= link_to "Log In", login_path %> to rate this project!</label>
          </li>
        <% end %>
      </ol>
    </fieldset>
  <% end %>

  <% render :partial => "project_dividends", :locals => {:project => @project} %>  

  <div class="pmf_clear">&nbsp;</div>

</div>