<div id="project_show">
  <% if !@project.is_deleted %>
    <div class="project_action_links">
      <% if @u && (@project.owner == @u || @u.is_admin) %>
        <div class="button left"><%= link_to "New Blog", :controller => :blogs, :action => :new, :project_id => @project.id %></div>
        <div class="button left"><%= link_to "Edit project", edit_project_path(@project) %></div>
        <div class="button left"><%= link_to "Delete Project", :controller => "projects", :action => "delete", :id => @project %></div>
      <% end %>
      <div class="button left"><%= link_to "New Project", new_project_path %></div>
      <div class="button left"><%= link_to "All Projects", projects_path %></div>
    </div>

    <div class="pmf_clear">&nbsp;</div>
  <% else %>
    <h3>
      This project was deleted on <%= @project.deleted_at %>
      <%= link_to "Restore Project", :controller => "projects", :action => "restore", :id => @project %>
    </h3>
  <% end %>

  <div class="dashed_light_border">&nbsp;</div>

  <%= render :partial => "project_small_view", :locals => {:project => @project} %>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-description">
    <span class="header">Project Logline:</span>
    <span class="body">
      <%= h @project.description %>
    </span>
  </div>

  <% if @project.project_comment %>
    <div class="pmf_clear">&nbsp;</div>

    <div class="view-lite-row-description">
      <span class="header">PMF Comment:</span>
      <span class="body">
        <%= h @project.project_comment.body %>
      </span>
    </div>
  <% end %>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-description latest_blog">
    <span class="header">Latest Blog Entry:</span>
    <% if @latest_project_blog %>
      <span class="date"><%= @latest_project_blog.created_at.to_formatted_s(:long_ordinal) %></span>
      <span class="body">
        <%= truncate(h(@latest_project_blog.title), 50) %>
        <%= link_to "...(more)", {:controller => "blogs", :action => "show", :id => @latest_project_blog.id} unless @latest_project_blog.title.length < 51 %>
      </span>
      <span class="comments_link"><%= link_to "#{pluralize(@latest_project_blog.num_comments, "comment")}", :controller => "blogs", :action => "show", :id => @latest_project_blog.id %></span>
    <% else %>
      <span class="body">No Blogs Found!</span>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-description">
    <span class="header">Synopsis:</span>
    <span class="body">
      <%=h @project.synopsis %>
    </span>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="view-lite-row-description">
    <span class="header">Cast:</span>
    <span class="body">
      <%=h @project.cast %>
    </span>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="left">
    <%= render :partial => "subscription_buttons" %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div id="project_blogs">
    <fieldset>
      <div class="header">Latest Project Blogs</div>
      <ol>
        <li>
          <% if @project_blogs %>
            <%= render :partial => 'blogs/blog', :collection => @project_blogs %>
          <% else %>
            No Blogs Found!
          <% end %>
        </li>
      </ol>
      <div class="links">
        <% if @project_blogs %>
          <div class="button left">
            <%= link_to "All Blogs", {:controller => "projects", :action => "blogs", :id => @project.id} %>
          </div>
        <% end %>
        <% if @u && (@project.owner == @u || @u.is_admin) %>
          <div class="button left">
            <%= link_to "New Blog", :controller => :blogs, :action => :new, :project_id => @project.id %>
          </div>
        <% end %>
      </div>

    </fieldset>
  </div>

  <% if_admin do %>
    <% form_tag :controller => "admin/project_rating", :action => "rate", :project_id => @project.id do %>
      <fieldset>
        <div class="header">PMF Rating</div>
        <ol>
          <li id="comment">
            <% if @admin_comment && !@admin_comment.body.empty? %>
              <label>Edit Comment</label>
              <%= text_area_tag :body, @admin_comment.body, :size => "45x5" %>
            <% else %>
              <label>Add Comment</label>
              <%= text_area_tag :body, nil, :size => "45x5" %>
            <% end %>
          </li>
          <li>
            <label>Set Rating</label>
            <%= select_tag  "rating", options_for_select(@admin_rating_select_opts, @selected_admin_rating) %>
            <%= submit_tag "Submit" %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  <% end %>

  <div class="pmf_clear">&nbsp;</div>

  <a name="user_rating">&nbsp;</a>

  <% form_tag :controller => "project_rating", :action => "rate", :project_id => @project.id do %>
    <fieldset>
      <div class="header">Member Rating</div>
      <ol>
        <li>
          <% if logged_in %>

            <% if @allowed_to_rate %>
              <label>Set Your Rating <br/>(You can change your rating once per day)</label>
              <%= select_tag "rating", options_for_select(@rating_select_opts, @selected_my_project_rating) %>
              <input type="submit" name="submit" value="Submit"/>
            <% end %>

            <% if @my_project_rating %>
              <label>&nbsp;</label>
              Your current rating: <%= @my_project_rating.rating %>
              <b>(You can change your rating once per day)</b>
            <% end %>
          <% else %>
            You must <%= link_to "log in", login_path %> to rate this project!
          <% end %>
        </li>
      </ol>
    </fieldset>
  <% end %>

  <% if @project.subscribers.length > 0 %>
    <div class="pageTitle">Members Reserving Copies</div>
    <div class="pmf_clear_bottom_border">&nbsp;</div>

    <div class="users">
      <% for s in @project.subscribers do %>
          <div class="user-icon">
            <%= link_to icon(s.profile, :small), profile_path(s.profile) %>
            <span><%= link_to s.profile.user.login, profile_path(s.profile) %></span>
          </div>
        <% end %>
      </div>

      <div class="pmf_clear_bottom_border">&nbsp;</div>
    <% end %>
  </div>