<div id="stats_page" class="static_content">
  <div class="pageTitle">PMF Statistics</div>

  <div id="stats">

    <div class="subsection">
      <div class="pageTitleSmall">Projects</div>

      <div class="stat_row">
        <div class="label">No. Projects Listed:</div>
        <div class="stat"><%= @projects_listed_count %></div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="stat_row">
        <div class="label">Total Budget:</div>
        <div class="stat"><%= print_money @total_budget %></div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="stat_row">
        <div class="label">Average Budget:</div>
        <div class="stat"><%= print_money @avg_budget %></div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="stat_row">
        <div class="label">Total Dollar Amount Reserved:</div>
        <div class="stat"><%= print_money @total_reservations_dollar_amount %></div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="stat_row">
        <div class="label">Avg No. Shares Reserved Per Project:</div>
        <div class="stat"><%= @avg_shares_reserved_per_project %></div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div class="stat_row">
        <div class="label">Avg. Funding %:</div>
        <div class="stat"><%= @avg_funding_percent %>%</div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">No. Projects Created Yesterday:</div>
          <div class="stat">
            <%= @projects_created_yesterday %>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">No. Projects Where Budget Between $100 and $500:</div>
          <div class="stat">
            <%= Project.find_all_public(
              :conditions => "capital_required >= 100 and capital_required <= 500").size %>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">No. Projects Where Budget Between $501 and $1000:</div>
          <div class="stat">
            <%= Project.find_all_public(
              :conditions => "capital_required > 500 and capital_required <= 1000").size %>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">No. Projects Where Budget Between $1001 and $2500:</div>
          <div class="stat">
            <%= Project.find_all_public(
              :conditions => "capital_required > 1000 and capital_required <= 2500").size %>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">No. Projects Where Budget Between $2501 and $5000:</div>
          <div class="stat">
            <%= Project.find_all_public(
              :conditions => "capital_required > 2500 and capital_required <= 5000").size %>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">Total Positive Volume (24 Hour):</div>
          <div class="stat"><%= up_down_arrow @total_ups %><%= @total_ups.abs %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">Total Negative Volume (24 Hour):</div>
          <div class="stat"><%= up_down_arrow @total_downs %><%= @total_downs.abs %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">Total Site Volume (24 Hour):</div>
          <div class="stat"><%= @total_volume.abs %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

      </div>
      <div class="subsection">
        <div class="pageTitleSmall">Most Active Projects</div>

        <div class="sitewide_portfolio_info">
          <div class="explain">
            Projects that have gained/lost
            the most share reservations in the last 24 hours
          </div>

          <div id="winners">
            <div class="explain">
              Gainers:
            </div>

            <div class="stat_label_header">Symbol</div>
            <div class="stat_header">Todays Change</div>
            <div class="stat_header">% Move</div>
            <div class="pmf_clear">&nbsp;</div>

            <% @top_sitewide_projects.each do |tp| %>
              <div class="pmf_clear">&nbsp;</div>
              <div class="stat_label"><%= link_to tp.project.symbol, project_path(tp.project) %></div>
              <div class="arrow">
                <%= up_down_arrow tp.share_change %>
              </div>
              <div class="stat">
                <%= tp.share_change.abs %> Shares
              </div>
              <div class="move">
                <%= number_to_percentage(tp.project.daily_percent_move, :precision => 0) %>
              </div>
              <div class="pmf_clear">&nbsp;</div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>
          </div>

          <div id="losers">
            <div class="explain">
              Losers:
            </div>

            <div class="stat_label_header">Symbol</div>
            <div class="stat_header">Todays Change</div>
            <div class="stat_header">% Move</div>
            <div class="pmf_clear">&nbsp;</div>

            <% @bottom_sitewide_projects.each do |tp| %>
              <div class="pmf_clear">&nbsp;</div>
              <div class="stat_label"><%= link_to tp.project.symbol, project_path(tp.project) %></div>
              <div class="arrow">
                <%= up_down_arrow tp.share_change %>
              </div>
              <div class="stat">
                <%= tp.share_change.abs %> Shares
              </div>
              <div class="move">
                <%= number_to_percentage(tp.percent_move, :precision => 0) %>
              </div>
              <div class="pmf_clear">&nbsp;</div>
            <% end %>

            <div class="pmf_clear">&nbsp;</div>
          </div>

          <div class="pmf_clear">&nbsp;</div>

        </div>

        <div class="pmf_clear">&nbsp;</div>

      </div>

      <div class="subsection">
        <div class="pageTitleSmall">Funding</div>

        <div class="stat_row">
          <div class="label">Total Reservations:</div>
          <div class="stat">
            <b><%= print_money @total_reservations_amount %></b>
            Reserved In
            <b><%= @total_reservations %></b> Projects
            Seeking <b><%= print_money @total_funds_needed %></b>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">Total Amount of Funds Collected:</div>
          <div class="stat">
            <b><%= print_money @total_funded_amount %></b>
            In Funds Have Been Raised For
            <b><%= pluralize @num_funded_projects, "Project" %></b>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">PMF Fund Reservations:</div>
          <div class="stat">
            PMF Fund Reserving
            <b><%= link_to "#{print_money(@total_pmf_shares_reserved_amount)}",
                profile_path(PMF_FUND_ACCOUNT_ID) %></b>
            in
            <b><%= link_to "#{@total_pmf_projects_invested_in}",
                profile_path(PMF_FUND_ACCOUNT_ID) %> Projects</b>
          </div>
          <div class="pmf_clear">&nbsp;</div>
        </div>
      </div>

      <div class="subsection">
        <div class="pageTitleSmall">Members</div>

        <div class="stat_row">
          <div class="label">No. Members</div>
          <div class="stat"><%= @members_count %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">No. Signups Yesterday:</div>
          <div class="stat"><%= @signups_yesterday %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">No. Members Reserving Shares</div>
          <div class="stat"><%= @num_users_reserving_shares %></div>
          <div class="pmf_clear">&nbsp;</div>
        </div>

        <div class="stat_row">
          <div class="label">% Members Reserving Shares</div>
          <div class="stat"><%= @members_reserving_shares_percent %>%</div>
            <div class="pmf_clear">&nbsp;</div>
          </div>

          <div class="stat_row">
            <div class="label">Avg No. Projects Per Member</div>
            <div class="stat"><%= @avg_number_projects_per_member %></div>
            <div class="pmf_clear">&nbsp;</div>
          </div>

          <div class="stat_row">
            <div class="label">Avg No. Reservations Per Member</div>
            <div class="stat"><%= @avg_number_reservations_per_member %></div>
            <div class="pmf_clear">&nbsp;</div>
          </div>

          <div class="pageTitleSmaller">No. Members By Country</div>

          <% @members_by_country.each do |country_name, country_count| %>
            <div class="stat_row">
              <div class="label"><%= country_name %>:</div>
              <div class="stat"><%= country_count %></div>
              <div class="pmf_clear">&nbsp;</div>
            </div>
          <% end %>

          <div class="pageTitleSmaller">No. Members By Membership Type</div>

          <% @members_by_membership_type.each do |type_name, count| %>
            <div class="stat_row">
              <div class="label"><%= type_name %>:</div>
              <div class="stat"><%= count %></div>
              <div class="pmf_clear">&nbsp;</div>
            </div>
          <% end %>
        </div>

        <div class="subsection">
          <div class="pageTitleSmall">Genres</div>

          <div class="pageTitleSmaller">No. Projects Per Genre</div>

          <% @projects_by_genre.each do |genre_title, genre_count| %>
            <div class="stat_row">
              <div class="label"><%= genre_title %>:</div>
              <div class="stat"><%= genre_count %></div>
              <div class="pmf_clear">&nbsp;</div>
            </div>
          <% end %>

          <div class="pageTitleSmaller">Genre Performance (24 Hour)</div>

          <% Genre.all_volumes_today.each do |genre, genre_volume| %>
            <div class="stat_row">
              <div class="label"><%= genre.title %>:</div>
              <div class="stat"><%= up_down_arrow genre_volume %><%= genre_volume.abs %> Shares</div>
              <div class="pmf_clear">&nbsp;</div>
            </div>
          <% end %>
        </div>

      </div>
    </div>