<div id="MENU_HEADER" class="pageTitle">Welcome to Admin</div>

<div id="admin_stats">
  There are <%= @user_count %> users on PMF
</div>

<div style="clear:both;"></div><hr/>

<%= link_to "Rate New Projects >>>", :controller => "admin/project_rating" %>
<div style="clear:both;"></div>
<%= link_to "Home Page Blogs >>>", :controller => "admin/homepage_blog" %>
<div style="clear:both;"></div>
<%= link_to "Membership Types >>>", :controller => "admin/membership_types" %>
<div style="clear:both;"></div>
<%= link_to "Deleted Projects >>>", :controller => "admin/deleted_projects" %>