<tr>
  <% form_tag :action => "update", :id => membership_type.id do %>
    <td><b><%= membership_type.name %></b></td>
    
    <% unless membership_type.max_projects_listed == nil %>
      <td><%= select_tag :max_projects_listed,
      options_for_select(@select_options, membership_type.max_projects_listed) %></td>
    <% else %>
      <td><%= select_tag :max_projects_listed,
      options_for_select(@select_options, "unlimited") %></td>
    <% end %>

    <% unless membership_type.pc_limit_per_project == nil %>
      <td><%= select_tag :pc_limit_per_project,
      options_for_select(@select_options, membership_type.pc_limit_per_project) %></td>
    <% else %>
      <td><%= select_tag :pc_limit_per_project,
      options_for_select(@select_options, "unlimited") %></td>
    <% end %>

    <% unless membership_type.pc_project_limit == nil %>
      <td><%= select_tag :pc_project_limit,
      options_for_select(@select_options, membership_type.pc_project_limit) %></td>
    <% else %>
      <td><%= select_tag :pc_project_limit,
      options_for_select(@select_options, "unlimited") %></td>
    <% end %>

    <% unless membership_type.funding_limit_per_project == nil %>
      <td><%= select_tag :funding_limit_per_project,
      options_for_select(@funding_options, membership_type.funding_limit_per_project) %></td>
    <% else %>
      <td><%= select_tag :funding_limit_per_project,
      options_for_select(@funding_options, "unlimited") %></td>
    <% end %>
      
    <td><%= submit_tag "Update" %> </td>
  <% end %>
</tr>