<div class="blog-row blog">

  <div class="blog_left">
    <div class="icon">
      <%= link_to image_tag("/images/pmf_fund_avatar.png"), profile_path(PMF_FUND_ACCOUNT_ID) %>
      <div class="follow_button">
        <%= follow_project_button_small admin_project_rating.project %>
      </div>
    </div>
    <div class="info">
      <div class="blog_type">
        <span>Project Rating Changed</span> for project
      </div>
      <div class="user_info">
        <div class="user_icon">
          <%= link_to project_icon(admin_project_rating.project, :small), project_path(admin_project_rating.project) %>
        </div>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div class="project_title">
        <%= link_to awesome_truncate(admin_project_rating.project.title, 50), project_path(admin_project_rating.project) %>:
      </div>

      <div class="blog_body">
        <a href="<%= url_for :controller => "project_rating", :action => "pmf_rating", :pmf_rating_id => admin_project_rating.id %>">
          Rating changed to <b><%= admin_project_rating.rating_symbol %></b>
        </a>
      </div>
    </div>
  </div>

  <div class="blog_right">
    <div class="share_buttons">
      <div class="share_buttons">
        <div class="tweet_button">
          <a href="http://twitter.com/share?url=<%= url_encode(url_for(:only_path => false,
                 :controller => "project_rating", :action => "pmf_rating", :pmf_rating_id => admin_project_rating.id)) %>&via=piratemyfilm&text=New Rating on Project: <%= admin_project_rating.project.symbol %>"
             class="twitter-share-button"
             data-count="vertical" data-related="piratemyfilm">Tweet</a>
          <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>

        <div class="facebook_button">
          <a name="fb_share" type="box_count" share_url="<%= url_for :only_path => false,
               :controller => "project_rating", :action => "pmf_rating", :pmf_rating_id => admin_project_rating.id %>"
             href="http://www.facebook.com/sharer.php">Share</a>
          <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
        </div>
      </div>

      <div class="blog-date">
        <%= time_ago_in_words admin_project_rating.created_at %> ago
      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

  </div>

</div>

<div class="pmf_clear">&nbsp;</div>

<div class="dashed_light_border pmf_top_margin_10">&nbsp;</div>