<div id="blog_<%= blog.id %>" class="border_top">
  <h2><%= link_to sanitize(textilize(blog.title.capitalize)), :action => "show", :id => blog.id %></h2>
  <div style="clear:both;"></div><hr/>
  <div>
    <%= blog_body_content blog %>
  </div>
  <div style="float: right;">
    <%= link_to "Edit", :action => "edit", :id => blog.id %> |
    <%= link_to "Delete", :action => "destroy", :id => blog.id %>
  </div>
</div>