<div class="project_comment">

  <div class="left">
    <div class="title">
      <%= link_to "Comment on Project: #{project_comment.project.title}", project_comment_path(project_comment) %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="icon">
      <%= link_to project_icon(project_comment.project, "big"), project_path(project_comment.project) %>
    </div>
    <div class="body">
      <%= h project_comment.body %>
    </div>
  </div>

  <div class="right">
    <div class="share_buttons">
      <div class="tweet_button">
        <script type="text/javascript">
          tweetmeme_url = '<%= url_for :only_path => false, :controller => "project_comments", :action => "show", :id => project_comment.id %>';
        </script>
        <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
      </div>
      
      <div class="facebook_button">
        <a name="fb_share" type="box_count" share_url="<%= url_for :only_path => false,
             :controller => "project_comments", :action => "show", :id => project_comment.id %>"
           href="http://www.facebook.com/sharer.php">Share</a>
        <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
      </div>
    </div>
    
    <div class="date">
      <%= project_comment.created_at.to_formatted_s(:long_ordinal) %>
    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>
  
</div>