<% content_for :head do %>
  <meta name="title" content="<%= h @project_comment.project.title %>" />
  <meta name="description" content="<%= h @project_comment.body %>" />
  <link rel="image_src" href="<%= project_icon_path @project_comment.project, :big %>" />
<% end %>

<div class="dashed_light_border">&nbsp;</div>

<div class="pageTitle">PMF Fund Project Comment</div>

<div id="project_comments">
<%= render :partial => 'project_comments/comment_info', 
  :locals => {:project_comment => @project_comment} %>
</div>

<div class="pmf_clear">&nbsp;</div>

  <% if_admin do %>
    <div class="blog_admin_links">
      <div class="button right"><%= link_to "Edit", edit_project_comment_path(@project_comment) %></div>
      <div class="button right"><%= link_to "Delete", project_comment_path(@project_comment), :method => :delete, :confirm => 'Are you sure?', :method => :delete %></div>
    </div>
  <% end %>