<% content_for :head do %>
  <meta name="title" content="<%= h @project_comment.project.title %>" />
  <meta name="description" content="<%= h @project_comment.body %>" />
  <link rel="image_src" href="<%= project_icon_path @project_comment.project, :big %>" />
<% end %>

<%= render :partial => "/blogs/subnav" %>

<div class="dashed_light_border">&nbsp;</div>

<div class="pageTitle">PMF Fund Project Comment</div>

<div id="project_comments">
<%= render :partial => 'project_comments/comment_info', 
  :locals => {:project_comment => @project_comment} %>
</div>