<div class="blog-row blog">

  <div class="blog_left">
    <div class="icon">
      <%= link_to image_tag("/images/big_p.png"), :action => "admin" %>
      <div class="follow_button">
        <%= follow_admin_blogs_button_small %>
      </div>
    </div>
    <div class="info">
      <div class="blog_type">
        <%= link_to "PMF Blog", :controller => "blogs", :action => "admin" %>
      </div>

      <div class="pmf_clear">&nbsp;</div>
      
      <div class="blog_body">
        <%= blog_body(blog, truncate_blog) %>
      </div>
    </div>
  </div>

  <div class="blog_right">
    <div class="share_buttons">
      <%= render :partial => "/blogs/templates/share_buttons",
        :locals => {:target_url => url_for(:only_path => false,
          :controller => "blogs", :action => "show", :id => blog.id),
        :tweet_text => "New PMF Fund Blog: #{blog.title}"} %>

      <div class="blog-date">
        <%= time_ago_in_words blog.created_at %> ago
      </div>
    </div>

    <div class="pmf_clear">&nbsp;</div>

    <div class="blog_comments_link">
      <%= link_to "#{pluralize(blog.num_comments, "comment")}", :controller => "blogs", :action => "show", :id => blog.id, :anchor => "comment_list" %> -
      <%= link_to "Add comment", :controller => "blogs", :action => "show", :id => blog.id, :anchor => "add_comment" %>
    </div>

    <div class="pmf_clear">&nbsp;</div>

  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="dashed_light_border pmf_top_margin_10">&nbsp;</div>