<%= render :partial => "/blogs/templates/crosspost_styles" %>

<div class="blog-row blog">

  <div class="blog_left">
    <div class="icon">
      <%= link_to icon(blog.profile, :small), profile_url(blog.profile) %>
      <div class="follow_button">
        <div class="button_small left">
          <%= link_to "Follow", profile_url(blog.profile) %>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="user_name">
        <%= link_to blog.profile.user.login, profile_url(blog.profile) %>
      </div>
      <% if blog.project %>
        <div class="blog_user_relationship">
          <%= blog.user_relationship %> of
        </div>
        <div class="project_info">
          <div class="project_icon">
            <%= link_to project_icon(blog.project, :medium), project_url(blog.project) %>
          </div>
          <div class="project_title">
            <%= link_to h(blog.project.title), project_url(blog.project) %>
            &nbsp;-&nbsp;
          </div>
          <div class="project_stats">
            <div class="funds_needed">
              <span><%= print_money blog.project.capital_required %></span> needed
            </div>
            <div class="percent_funded">
              <span><%= blog.project.percent_funded_with_pmf_fund_non_outstanding %>&#37</span> funded
            </div>
          </div>
        </div>

      <% end %>

      <div class="pmf_clear">&nbsp;</div>

      <div class="blog_body">
        <%= blog_body(blog, false, true) %>
      </div>
    </div>
  </div>

</div>