<div class="users">

  <div class="pmf_clear">&nbsp;</div>

  <% form_tag url_for(:action => "index"), :method => :get do -%>
    <div id="user_search">
      Search for user (Leave blank to view all users): <%= text_field_tag 'search[uq]', (params[:search] && params[:search][:uq] ? params[:search][:uq] : 'Enter Username...'), :id => 'search[uq]', :size => 20, :onfocus => "this.select();" %>
      Filter By Membership Type:
      <%= select_tag :membership_filter_param, options_for_select(@membership_type_filter_params, [params['membership_filter_param']]) %>
      <input type="submit" value="Search"/>
    </div>
  <%- end -%>

  <div class="pmf_clear">&nbsp;</div>

  <% if @search_query %>
    <div class="dashed_light_border pmf_bottom_margin_10 pmf_top_margin_10">&nbsp;</div>
    <div id="search_text">Search Results For: <b>"<%= h @search_query %>"</b>, Filtered By Membership Type: <b>"<%= @membership_type_name %>"</b> </div>
    <div class="dashed_light_border pmf_bottom_margin_10 pmf_top_margin_10">&nbsp;</div>
  <% end %>

  <div class="pmf_clear pmf_top_margin_10">&nbsp;</div>

  <div class="headers">
    <div class="icon_header">User Avatar</div>
    <div class="name_header">User Name</div>
    <div class="membership_type_header">Membership Type</div>
  </div>

  <div class="dashed_light_border">&nbsp;</div>

  <% @profiles.each do |p| %>
    <div class="<%= cycle('odd','even') %> search_row left user">
      <div class="icon"><%= icon p, :small %></div>
      <div class="name"><%= h p.f %></div>
      <div class="membership_type">
        <% form_remote_tag :url => {:action => "update_membership"}, :html => {:id => "membership_#{p.user.id}"} do %>
          <%= select_tag "user_membership", options_for_select(@membership_select_opts,
            [p.user.membership.membership_type.name, p.user.membership.membership_type.id.to_s]), :onchange => "$('#submit_container_#{p.user.id}').show();" %>
          <%= hidden_field_tag :user_id, p.user.id %>
          <input type="hidden" id="skip_confirm_<%= p.user.id %>" name="skip_confirm" value=""/>
          <div class="submit" id="submit_container_<%= p.user.id %>" style="display: none;">
            <%= submit_tag "Update" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="pmf_clear">&nbsp;</div>
  <% end %>

  <%= pagination_controls_for @profiles if @profiles.respond_to? :total_pages %>

</div>