<div class="users">
  <h2>
    <% if @search_query %>
      Search Results For <%= @search_query %>
    <% else %>
      Users
    <% end %>
  </h2>

  <div class="headers">
    <div class="icon_header">User Avatar</div>
    <div class="name_header">User Name</div>
    <div class="membershipt_type_header">Membership Type</div>
  </div>

  <div class="dashed_light_border">&nbsp;</div>

  <% @profiles.each do |p| %>
    <div class="<%= cycle('odd','even') %> search_row left user">
      <div class="icon"><%= icon p, :small %></div>
      <div class="name"><%= h p.f %></div>
      <div class="membership_type">
        <% form_tag :action => "update_membership" do %>
          <%= select_tag "user_membership", options_for_select(@membership_select_opts,
            [p.user.membership.membership_type.name, p.user.membership.membership_type.id.to_s]), :onchange => "this.form.submit();" %></td>
        <% end %>
      </div>
    </div>
    <div class="pmf_clear">&nbsp;</div>
  <% end %>

  <%= pagination_controls_for @profiles if @profiles.respond_to? :total_pages %>

</div>