<div id="MENU_HEADER" class="pageTitle">
  PMF Admin
</div>

<ul id="tabs">
  <li>
    <%= link_to "Stats",
      {:controller => "admin/home"},
      :class => (@selected_tab_name == "admin_stats" ? "selected" : "") %>
  </li>
  <li>
    <%= link_to "New Projects <b>(#{@num_pending_projects})</b>",
      {:controller => "admin/new_projects"},
      :class => (@selected_tab_name == "new_projects" ? "selected" : "") %>
  </li>
  <li>
    <%= link_to "Deleted Projects <b>(#{@num_deleted_projects})</b>", {:controller => "admin/deleted_projects"},
      :class => (@selected_tab_name == "deleted_projects" ? "selected" : "") %>
    </li>
  <li>
    <%= link_to "Membership Types", {:controller => "admin/membership_types"},
      :class => (@selected_tab_name == "membership_types" ? "selected" : "") %>
  </li>
  <li>
    <%= link_to "Users <b>(#{@user_count})</b>", {:controller => "admin/users"},
      :class => (@selected_tab_name == "users" ? "selected" : "") %>
  </li>
</ul>
