<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <meta name="description" content="The Film Futures Market for Pirates" />
    <meta name="keywords" content="max keiser, pirate film, market" />

    <title><%= @title || "Pirate My Film" %></title>

    <%= render :partial => 'shared/head_load' %>

    <%= yield :head %>

  </head>

  <body onload="doInit();">

    <%= render :partial => "/shared/site_banner" %>
    
    <div id="site_wrapper">

      <div id="content_container">
        <div id="stage" class="admin_section">

          <%= render :partial => 'shared/header' %>

          <div id="content">

            <div id="flashes">
              <%= show_default_flash -%>
            </div>

            <%= render :partial => "/admin/shared/admin_nav" %>

            <div class="pmf_clear">&nbsp;</div>

            <%= yield %>

          </div>

          <div class="pmf_clear">&nbsp;</div>

          <%= render :partial => 'shared/footer' %>

        </div>
      </div>
    </div>

    <div id="footer_scripts">
      <%= render :partial => 'shared/footer_scripts' %>
    </div>

  </body>
</html>