<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      
    <meta name="description" content="The Film Futures Market for Pirates" />
    <meta name="keywords" content="max keiser, pirate film, market" />

    <title><%= @title || "Pirate My Film" %></title>

    <%= render :partial => 'shared/head_load' %>

    <%= yield :head %>

  </head>

  <body>

    <center>

      <% if @show_intro_text %>
        <div id="hp_text_blurb">

          <div id="header_text">Pirate Myfilm - The Film Futures Market for Pirates</div>

          <p>
            Some film makers want to have copies of their films pirated by millions.
            Some want to sell copies. In either case, producers can raise money for their
            projects on Pirate Myfilm by selling future copies today. When enough future
            copies have been reserved to fund a project a group-debit occurs and the funds
            are made available to the producer... <%= link_to "more", :controller => "static", :action => "whatispmf" %>
          </p>

        </div>
      <% end %>

      <div id="stage"><!--OPEN WHITE ZONE-->

<%= render :partial => 'shared/top_menu' %>

<%= render :partial => 'shared/header' %>

        <div id="content">

          <div id="flashes">
            <%= show_default_flash -%>
          </div>

          <%= yield %>

        </div><!--CLOSE CONTENT-->

        <div style="clear:both;"></div>

        <%= render :partial => 'shared/footer' %>

      </div><!--CLOSE WHITE ZONE-->
    </center>

    <div id="footer_scripts">
      <%= render :partial => 'shared/footer_scripts' %>
    </div>

  </body>
</html>