<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="alternate" type="application/rss+xml"
          title="PMF Blogs Feed" href="<%= url_for :only_path => false, :controller => "blogs", :format => "rss" %>" />

    <meta name="description" content="Crowd Funding For Pirates"/>
    <meta name="keywords" content="max keiser, pirate film, market" />

    <title><%= @title ? "Pirate My Film - " + h(@title) : "Pirate My Film" %></title>

    <%= render :partial => 'shared/head_load' %>

    <%= yield :head %>
  </head>

  <body onload="doInit();">

    <div id="top_banner_container">
      <div id="ad_banner_container">
        <div id="site_stats">
          <div class="stat">
            <%= print_money @total_reservations_amount %>
            Reserved In
            <%= @total_reservations %></b> Projects
            Seeking <%= print_money @total_funds_needed %>
          </div>
          <div class="stat">
            <%= print_money @total_funded_amount %>
            Raised For
            <%= pluralize @num_funded_projects, "Project" %>
          </div>
          <div class="stat">
            $0 dividends paid out to 0 projects 
          </div>
          <div class="stat more">
            <a href="/pages/stats">More Stats</a>
          </div>
        </div>

        <div id="ad_banner">
          <script language="JavaScript" type="text/javascript">;
            document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/invc.maxkeiser/piratemyfilm_default;kw=;kval=piratemyfilm;kval=default;tile=1;dcopt=ist;sz=728x90;ord=' + ord + '?" type="text/javascript"><\/script>');
          </script><noscript><a href="http://ad.doubleclick.net/jump/invc.maxkeiser/piratemyfilm_default;kw=;kval=piratemyfilm;kval=default;tile=1;sz=728x90;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/invc.maxkeiser/piratemyfilm_default;kw=;kval=piratemyfilm;kval=default;tile=1;sz=728x90;ord=123456789?" width="728" height="90" border="0" alt=""></a></noscript>
        </div>

        <div class="pmf_clear">&nbsp;</div>

        <!--anti-sopa banner-->
        <div class="sopa-banner">
          <span>
            <strong>STOP SOPA/PIPA</strong>
            All projects on PirateMyfilm are CreativeCommons licensed unless otherwise stipulated. </br>
            Dividends are distributed to shareholders by project owners at their discretion. 
            Read more at <a href="http://www.maxkeiser.com" target="_blank">maxkeiser.com</a>
          </span>
          <a class="hiw_link" href="/pages/how_it_works">How Piratemyfilm Works</a>
          <!--/anti-sopa banner-->
        </div>
      </div>

      <div id="bg_wrapper">
        <div id="site_wrapper">

          <div id="content_container">
            <div id="stage">
              <%= render :partial => 'shared/header' %>

              <div class="pmf_clear">&nbsp;</div>

              <div id="content">

                <div id="flashes">
                  <%= show_default_flash -%>
                </div>

                <%= render :partial => "/shared/user_subnav" %>

                <%= yield %>

              </div>

              <div class="pmf_clear">&nbsp;</div>

              <%= render :partial => 'shared/footer' %>

            </div>

            <div class="pmf_clear">&nbsp;</div>

            <%= render :partial => "shared/footer_banner_ad" %>

          </div>

        </div>


        <div id="footer_scripts">
          <%= render :partial => 'shared/footer_scripts' %>
        </div>

      </div>

      <!-- IC Metric Beacon Code -->
      <script src="http://cdn.investingchannel.com/ic_beacon.js" type="text/javascript"></script>
      <script type="text/javascript"> icBeacon('piratemyfilm'); </script>

  </body>
</html>