<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml"
          title="PMF Blogs Feed" href="<%= url_for :only_path => false, :controller => "blogs", :format => "rss" %>" />

    <meta name="description" content="The Film Futures Market for Pirates" />
    <meta name="keywords" content="max keiser, pirate film, market" />

    <title><%= @title ? "Pirate My Film - " + h(@title) : "Pirate My Film" %></title>

    <%= render :partial => 'shared/head_load' %>

    <%= yield :head %>

  </head>

  <body onload="doInit();">

    <div id="site_wrapper">

      <div id="header_links">
        <div class="menu bubplastic horizontal gray">
          <ul>
            <li>
              <span class="menu_r">
                <a href="/pages/how_it_works">
                  <span class="menu_ar">
                    How It Works
                  </span>
                </a>
              </span>
            </li>
            <li>
              <span class="menu_r">
                <a href="/pages/about_us">
                  <span class="menu_ar">
                    About Us
                  </span>
                </a>
              </span>
            </li>
            <li>
              <span class="menu_r">
                <a href="/pages/contact_us">
                  <span class="menu_ar">
                    Contact Us
                  </span>
                </a>
              </span>
            </li>
            <li>
              <span class="menu_r">
                <a href="/">
                  <span class="menu_ar">
                    Home
                  </span>
                </a>
              </span>
            </li>
          </ul>
          <div class="pmf_clear">&nbsp;</div>
        </div>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div id="top_container">
        <div id="topsite_links">
          <div id="pmf_fund_account_link_container">
            <div class="pic">
              <%= link_to image_tag("pmf_fund_avatar_small.png", :size => "20x20"), profile_path(PMF_FUND_ACCOUNT_ID) %>
            </div>
            <div class="text">
              <%= link_to "PMF Fund", profile_path(PMF_FUND_ACCOUNT_ID) %>
            </div>
          </div>
          <div id="widget_link">
            - <%= link_to "Get a Widget for Your Site!", :controller => "project_widgets" %>
          </div>
        </div>

        <div id="signup_section">
          <%= render :partial => "shared/signup" %>
        </div>
        <div class="pmf_clear">&nbsp;</div>
      </div>

      <div id="content_container">
        <div id="stage">
          <%= render :partial => 'shared/header' %>

          <div id="content">

            <div id="flashes">
              <%= show_default_flash -%>
            </div>

            <%= yield %>

          </div>

          <% if !@hide_filter_params %>
            <div class="dashed_light_border">&nbsp;</div>
            <%= render :partial => 'shared/filter_param_box' %>
          <% end %>

          <div class="pmf_clear">&nbsp;</div>
          <%= render :partial => 'shared/footer' %>
        </div>
      </div>
    </div>

    <div id="footer_scripts">
      <%= render :partial => 'shared/footer_scripts' %>
    </div>

  </body>
</html>