<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml"
          title="PMF Blogs Feed" href="<%= url_for :only_path => false, :controller => "blogs", :action => "homepage", :format => "rss" %>" />

    <meta name="description" content="The Film Futures Market for Pirates" />
    <meta name="keywords" content="max keiser, pirate film, market" />

    <title><%= @title ? h(@title) + " - Pirate My Film" : "Pirate My Film" %></title>

    <%= render :partial => 'shared/head_load' %>

    <%= yield :head %>

  </head>

  <body>

    <center>
      <div id="top_site">
        <div id="hp_text_blurb">
          <div id="header_links">

            <div><a href="/">Home</a> |</div>

            <div id="how_it_works">
              <a href="/pages/how_it_works">How It Works</a> |
            </div>

            <%- if_admin do %>
              <div><%= link_to 'Admin', :controller => "admin/home" %> |</div>
            <% end %>

            <% if(@u.nil? or @u.new_record?) %>
              <div><%= link_to 'Sign Up', signup_path %> |</div>
              <div><%= link_to 'Log In', login_path %></div>
            <% else %>
              <div>(<%= link_to 'Log Out', logout_path %>)</div>
            <% end %>

            <div id="welcome_message">

              <% unless(@u.nil? or @u.new_record?) %>
                | Welcome <%= @u.f.capitalize %>
              <% end %>
            </div>

            <div style="clear:both;"></div>
          </div>

          <div style="clear:both;"></div>

          <% if !@hide_intro_blog && @latest_blog %>
            <%= render :partial => "/blog_partials/latest_hp_blog", :locals => {:blog => @latest_blog} %>
          <% end %>

        </div>
      </div>

      <div id="stage"><!--OPEN WHITE ZONE-->

<%= render :partial => 'shared/header' %>

        <div id="content">

          <div id="flashes">
            <%= show_default_flash -%>
          </div>

          <%= render :partial => 'shared/filter_param_box' %>
          <hr/>
          
          <%= yield %>

          <hr/>
          <%= render :partial => 'shared/filter_param_box' %>

        </div><!--CLOSE CONTENT-->

        <div style="clear:both;"></div>

        <%= render :partial => 'shared/footer' %>

      </div><!--CLOSE WHITE ZONE-->
    </center>

    <div id="footer_scripts">
      <%= render :partial => 'shared/footer_scripts' %>
    </div>

  </body>
</html>