<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title><%= @title || SITE_NAME %></title>      
    
    <%= render :partial => 'shared/head_load' %>
    
    <%= yield :head%>
                    
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
    <![endif]-->

  </head>
  
  <body>
    
    
    <div id="stage">     
      
      <%= render :partial => 'shared/header' %>
                
      <div id="content">  
        
        <div id="flashes">
          <%= show_default_flash -%>
        </div>                                    
        
        <div id="main">
          
          <%= yield %>
                   
        </div>
        
      </div><!-- /CONTENT -->
      
    </div>
    
    <%= render :partial => 'shared/footer' %>        
            
  </body>
</html>